[2017-06-30 12:03] kaustubhhiware opened #1 "README edit: Add customization info for icons and adding more icons"
As discussed in DM, new icons can be added for undetected file systems/extensions by editing `formats.yaml` and using the [nerd-fonts README](https://github.com/ryanoasis/nerd-fonts#seti-ui--custom) for reference.

Apart from that, if someone wishes to add more files, refer to the above README link. There is a file extension for each provided icon.

[2017-06-30 12:07] kaustubhhiware opened #2 "Alternative: Adding a shell file instead of function"
A shell file can be written that contains the basic function written:
`ruby /path/to/colorls.rb $1`
and straight away sourcing the bash shell itself.

This is just an alternative to the mentioned approach. I'm using fish shell, and as far as I know, writing a function is better compared to aliasing since functions are lazy-loaded, and hence faster than sourcing. So I'm not sure if this should be p

[2017-06-30 12:10] kaustubhhiware opened #3 "Extension: Add an option to disable printing metadata / extra information"
There should be an option, similar in idea to `ruby colorls.rb --simple` os something equivalent.

![image](https://user-images.githubusercontent.com/11318551/27735015-1c01d4a2-5dbb-11e7-9c5e-10ca73a7082c.png)

This would ensure that the lines below, and including `Found 6 contents in directory` are not printed.

[2017-06-30 14:56] athityakumar opened #4 "Working with options / flags"
`ls -l` works, but something like `lc -l` doesn't. Having this feature to highlight file formats in strings would be a great feature.

[2017-06-30 19:17] athityakumar commented on #4
@kaustubhhiware - Can you confirm whether this is fixed on current master by pulling it? (as of commit 23d95fc5a1867d974f69169ae0e57c2119a8e28a)

That is, usage like `lc -al . ../ ~/`

[2017-06-30 20:03] kaustubhhiware commented on #4
Umm, there is good news and bad news.
Good news:
* Flags work
Bad news:
* I'm getting a warning previously unreceived: `colorls/core.rb:25: warning: Insecure world writable dir ~/.config in PATH, mode 040777`
* Why are all the listings only one per row ?

[2017-06-30 20:26] kaustubhhiware opened #5 "Identifying folder names separated by spaces"
There is some issue related to detecting folders whose names contain spaces.
For instance, a folder named `MEGAsync Downloads` is displayed in white, which means it is unrecognised.
Since the listing is alphabetical, there is another folder named `Downloads` way above.

![image](https://user-images.githubusercontent.com/11318551/27752761-4db3766e-5e00-11e7-99af-a325ef8609e5.png)

[2017-06-30 20:41] kaustubhhiware commented on #1
I'm adding a list of file types for which icons are to be added. Feel free to tick off the ones that are covered:
- [ ] .npm and the likes
- [ ] .aux, .out, .tex
- [ ] ppt, pptx
- [ ] .pdf
- [ ] images (the icon for this specific one is not rendering I think)

[2017-07-01 02:28] athityakumar commented on #4
Understood. Previously, lc was only to work with options and hence it had custom indents and stuff. But now that I want lc to colorize any output of ls, it has to mimic it.

Currently, it splits by newline and then space to get all words. If word is file / directory, colorize. Else, just print.

This is the reason behind the issue #5 too. It somehow now has to be made to work without splitting wit

[2017-07-01 07:58] athityakumar commented on #1
I think that the last 3 ones are added already. But npm, out, tex and related ones are pending.

[2017-07-01 08:00] athityakumar commented on #4
@kaustubhhiware - Just had a look at [this link](http://mywiki.wooledge.org/ParsingLs) and seems like it was a bad idea to try adding all ls flag features to lc. I think it'd be better to keep `lc` simple with just dirs support, rather than printing 1 file / line just for supporting flags. WDYT?

[2017-07-01 09:43] kaustubhhiware commented on #1
I think there's some trouble rendering those particular 3 extensions. Perhaps, some more commonly icons could be used ?

[2017-07-01 09:46] kaustubhhiware commented on #4
Hmm, maybe just stick with whatever best you do. According to me, only two flags could be useful to someone:
* `lc -a`  to show hidden files
* `lc --simple` as suggested in #3  (This should be feasible since output of `ls` is not being parsed)

I don't think all flags need to be covered, for instance, if I were interested in more detailed information, I would just do `ls -l`, and not `lc -l`.

[2017-07-01 09:48] athityakumar commented on #1
Sure. but it renders just fine for me, screenshots would probably help.

[2017-07-01 09:53] kaustubhhiware commented on #1
Edited comment

[2017-07-01 09:57] kaustubhhiware commented on #1
Ping @athityakumar .
Updates with screenshots

[2017-07-01 10:15] athityakumar commented on #5
@kaustubhhiware - Check if this has been fixed as per commit 1fbd3a723b716ef20797b52781f10f07eff95e9e?

[2017-07-01 10:17] athityakumar commented on #4
1. `lc` is automatically returning all dotfiles by default.
2. Yep, added this. Check the latest master (1fbd3a723b716ef20797b52781f10f07eff95e9e).

[2017-07-01 10:17] athityakumar commented on #3
Added `--report` flag option to show the metadata.

[2017-07-01 12:06] athityakumar commented on #1
@kaustubhhiware - I see. `nerdfont` or `awesome` font? I'm using `awesome-config` from oh-my-zsh, and it renders like this -

![image](https://user-images.githubusercontent.com/17109060/27761885-ceda3d58-5e83-11e7-9312-9fcfadbfa87a.png)

[2017-07-01 14:14] kaustubhhiware commented on #1
I have `nerdfont` and `powerline-font` installed in my system. I can get back to you after installing `awesome` font as well.

[2017-07-01 14:15] athityakumar opened #7 "Enhancement: Add discrete icons for some folders"
Some folders like those of version control, deserve a special icon of their own rather than just a normal folder. For example, `.git/`.

[2017-07-01 14:21] #3 closed

[2017-07-01 14:22] kaustubhhiware commented on #5
Fixed as per commit `405b3f0`
![image](https://user-images.githubusercontent.com/11318551/27762810-b54230ae-5e96-11e7-8c3f-f0adcd992499.png)

[2017-07-01 14:22] #5 closed

[2017-07-01 14:23] kaustubhhiware commented on #4
Can confirm this as per commit `405b3f0`. Can close this issue now.

[2017-07-01 14:27] athityakumar commented on #4
Thanks! Closing this issue now. 😄

[2017-07-01 14:27] #4 closed

[2017-07-01 14:34] kaustubhhiware commented on #4
@athityakumar I think this needs to be known.
The number of content names in different locations varies.

This seems intentional, since the number of listings per row seems to depend on the longest name in that folder. This is in no way an issue, but might as well check.

[2017-07-01 14:35] athityakumar opened #8 "Check for order of data in YAML files"
Both `aliases.yaml` and `formats.yaml` have a certain order, in which data should be inserted. Both YAML files are key-value hashes, with -

- `aliases.yaml` : The values are sorted alphabetically. For each set of keys mapping to a value, those set of keys are also sorted alphabetically.
- `formats.yaml` : The keys are sorted alphabetically.

It'd be good to have a (Ruby?) script that automaticall

[2017-07-01 14:45] athityakumar commented on #4
@kaustubhhiware - Currently, it doesn't depend on the longest name in the folder, but the longest in each column being shown. But sure, error handling is required. Or rather, proper logic to rule out the incorrect flags (so, except `--report` for now).

[2017-07-01 14:45] athityakumar opened #9 "Error handling with rescue"

[2017-07-01 14:58] athityakumar opened #10 "Rule out incorrect flags"
Redirecting from issue #4

[code]

[2017-07-01 15:06] athityakumar commented on #10
Fixed with commit 8d55ba207be36e6f84b1762eeaf1313c7d7e6959

[2017-07-01 15:06] #10 closed

[2017-07-02 06:28] kaustubhhiware commented on #1
As discussed, only nerd fonts is being used, the rendering problem is concerned with my system.

[2017-07-02 09:51] athityakumar commented on #1
Hmm, weird. Did you do a full install of nerd-font, @kaustubhhiware?

[2017-07-03 00:37] athityakumar opened #11 "Add an equivalent Python3 script"
Suggested by @janga1997 - Rather than having colorls depend on Ruby, a Python script called colorls.py could be made from colorls.rb for making it easier for Pythonists.

My note - Creating a Python script should be easy. Requirements are on 3 libraries - one for colorizing string, one for reading from yaml files, and one for finding the width of current terminal screen. Once this is investigated,

[2017-07-03 05:06] kaustubhhiware commented on #11
* Why? Is it really needed?
This is coming from a person who has never used ruby, and has been using python heavily for the last year.
* Are there any advantages of using python for `colorls`?
 The current **max** time taken in my root directory is 226ms as per commit `405b3f`, no one would complain for a better speed at this point of time.

Here is my brutally honest opinion: Anyone who thinks `c

[2017-07-03 07:07] americast commented on #11
@kaustubhhiware Agreed to most of the points except that

Well, as per the latest commit `bbf78a`, it took ~5 secs for `colorls` to load for the first time.

[2017-07-03 07:20] janga1997 commented on #11
@kaustubhhiware I was the one who suggested this, and although installing ruby isn't a major hassle, I would prefer something that works directly in Python. It isn't really a very long ruby script, so it shouldn't take much time.

[2017-07-03 07:34] kaustubhhiware commented on #11
Hi @janga1997 !
As Athitya has mentioned above, I know you've suggested this. But are there any advantages of porting it to python? Is convenience the only benefit from this?
If the cause of concern is only convenience, the project can be ported to shell. Since no GUI is involved, [shell would be way faster than python](https://stackoverflow.com/a/14476979).

[2017-07-03 07:35] kaustubhhiware commented on #11
@americast Can you temporarily use a theme in a shell emulator like zsh / fish which displays the exact running time of a process, and time both: lc, and ls. It could possibly be an issue with your system, though I'm not entirely sure about that.

[2017-07-03 07:44] athityakumar commented on #11
@americast - Does this take 5 seconds when you're having a lot of multitasking (lot of Firefox tabs) or something like that? Or does it normally take 5 seconds? As @kaustubhhiware said, it takes barely 0.3s at max for me too.

@kaustubhhiware - Maybe it's​ worth noting that @americast's system has 2GB RAM?

[2017-07-03 08:01] EricSoldierer opened #12 "Release to package managers (like Homebrew)"
Can this be turned into a Oh My Zsh plugin ?

[2017-07-03 08:20] athityakumar commented on #12
Thanks for opening this issue, @EricSoldierer. I had contemplated this before writing this in Ruby. Now, the thing with making this as a oh-my-zsh plugin is,

- It is a Ruby script (`colorls.rb`), which would need to be translated to a shell script. This could be unnecessarily difficult, but could be done if it gets some help from the community. 😄
- It restricts the usage of colorls in just bash /

[2017-07-03 08:34] americast commented on #11
@athityakumar @kaustubhhiware I did a tic-toc in bash by issuing `time lc`. (This does not work in zsh, I don't know why!)

2.834s when firefox is open with a lot of tabs (10)
2.385s when firefox is open with less number of tabs (3) and
0.417s when firefox is not open.

Also, if I issue `lc` for the second time, (in all the states), it takes just 0.395s.

[2017-07-03 09:09] EricSoldierer commented on #12
I see the ruby and font dependency stuff not working out properly via a plugin...
However step 6 could be made optional via a zsh plugin to keep the .zshrc cleaner. This would require install location to be unified.
I installed it to `~/bin` because i don't want a system wide installation. Otherwise `/usr/local/bin` would be a good place.
Maybe add the recommended install locations to the manual ?

[2017-07-03 09:30] athityakumar commented on #12
Sure. This project has just begun, and adding this to package managers would make installation easier. 👍

[2017-07-03 09:37] athityakumar opened #13 "Clean up Ruby script"
Currently, it's just a Ruby script that works, while following Rubocop styling standards. However, the code can definitely be made better and DRyier.

[2017-07-03 09:40] #1 closed

[2017-07-03 09:41] athityakumar commented on #7
This feature has been added by commit be2fb0b4aeeda1eb95472aba3be7e6c0469c723e

[2017-07-03 09:41] #7 closed

[2017-07-03 11:37] alxlg opened #15 "bundle fails to install terminfo"
When I run `bundle install` I get this error:

[code]

[2017-07-03 11:50] athityakumar commented on #15
@alxlg - Did you try `gem install ruby-terminfo -v '0.1.1'`, as suggested at the end?

[2017-07-03 12:09] athityakumar commented on #15
Hmm, which Ruby version are you using? Can you check the same installation procedure with Ruby 2.4.1?

[2017-07-03 13:09] huangda2100 opened #16 "can't use lc"
when i use "lc",it appears this /usr/local/Cellar/ruby/2.4.1_1/lib/ruby/2.4.0/rubygems/core_ext/kernel_require.rb:55:in `require': cannot load such file -- colorize (LoadError)
       	from /usr/local/Cellar/ruby/2.4.1_1/lib/ruby/2.4.0/rubygems/core_ext/kernel_require.rb:55:in `require'
       	from /Users/huangda/colorls/colorls.rb:1:in `<main>'
how to resolve it???

[2017-07-03 13:37] athityakumar commented on #16
@huangda2100 - Make sure you have install all required gems with

[code]

[2017-07-03 13:48] huangda2100 commented on #16
@athityakumar thank you and sorry to ask you such weak intelligence question

[2017-07-03 13:52] athityakumar commented on #16
@huangda2100 - No issues at all. Let me know if `lc` works with a screenshot - then, this issue can be closed. 😄

[2017-07-03 14:28] huangda2100 commented on #16
@athityakumar it works with lc but i don't know how to set icons:(

[2017-07-03 14:59] alxlg commented on #15
Ruby 2.3, I just tried with 2.4.1 (Ubuntu 16.04 + PPA), same result...

[2017-07-03 15:00] athityakumar commented on #16
As described in the installation procedure, please install nerd-font font. Then, icons will appear with `lc`. If you've an iTerm2, take special note of enabling icon font on iTerm2 as described in README.

[2017-07-03 15:11] athityakumar commented on #15
Ah, I missed to see this. Try doing `bundle install --path vendor/bundle` instead of `bundle install`. Refer to [this discussion](https://stackoverflow.com/questions/42843948/your-user-account-isnt-allowed-to-install-to-the-system-rubygems) if you'd like to know the reason behind the error. 😄

[2017-07-03 15:24] huangda2100 commented on #16
@athityakumar thank you very much, i will try

[2017-07-03 15:25] alxlg commented on #15
At this point it asks me for password and it continues. The point was building "terminfo" that I just solved by installing a couple of packages from Ubuntu repositories:

`sudo apt-get install libncurses5-dev libncursesw5-dev`

[2017-07-03 15:25] #15 closed

[2017-07-03 15:34] huangda2100 commented on #16
@athityakumar everything is okay now. I really want this can be used in every command, goahead!

[2017-07-03 15:39] athityakumar commented on #16
I'm glad I was able to help. 😄

Can you explain what all you'd like `lc` to be able to do?

BTW, feel free to close this issue after this discussion. 😄

[2017-07-04 06:59] athityakumar opened #18 "Convert Ruby script to gem"
By converting the ruby script to a gem, the bin (shebang) file can directly be accessed by

[code]

[2017-07-04 07:47] athityakumar opened #20 "Add CONTRIBUTING.md"

[2017-07-04 09:01] balogic opened #21 "Add Uninstall or Restore instructions"
It would be nice if along with installation instructions, you could provide uninstall instructions

[2017-07-04 09:49] athityakumar commented on #21
The uninstall instruction is just `rm -rf /path/to/colorls/`, right? But sure, this should be on the README though.

[2017-07-04 09:54] balogic commented on #21
@athityakumar I will add it and give a PR

[2017-07-04 10:39] #21 closed

[2017-07-04 13:17] adimasuhid commented on #8
Hi @athityakumar Just to confirm, there has been renames to the following files from `master`:
`aliases.yaml` -> `file_aliases.yaml`
`formats.yaml` -> `files.yaml`

[2017-07-04 13:57] athityakumar commented on #8
Sorry, forgot to update the issue details.

`aliases.yaml` -> `folder_aliases.yaml` + `file_aliases.yaml`
`formats.yaml` -> `folders.yaml` + `files.yaml`

Thanks for reminding, @adimasuhid 😄

[2017-07-04 23:03] bfwg opened #23 "Read from config file for padding / margin of colorls"
Hi, first of all, amazing tool!

I'm just wondering is there a way to remove the extra margin for `lc`?
This is how my `ls` look like:
![image](https://user-images.githubusercontent.com/12819525/27844130-2d0e8938-60d2-11e7-90b4-b212bacafabc.png)
and this is `lc`
![image](https://user-images.githubusercontent.com/12819525/27844132-3a0cecba-60d2-11e7-9d80-94d55dadf3b2.png)
Is there a way to make the

[2017-07-05 03:19] athityakumar commented on #23
Thanks for opening an issue. The extra margin is indeed intended, for a better UI feel. But, if you'd like to remove this margin, change the `ls_line()` method to -

[code]

[2017-07-05 03:30] bfwg commented on #23
Thanks for the quick response, I got it now.

[2017-07-05 04:10] athityakumar commented on #16
Ping @huangda2100

[2017-07-06 07:32] kaustubhhiware commented on #20
@athityakumar This is pretty simple. Just go to Insights> Community . You will see what you want. This was a recent update by Github. Once you read this, I think you can close the issue within an hour, if not less.

[2017-07-06 07:48] kaustubhhiware opened #25 "Identifying file types without an extension"
Some files, like `Procfile` are specific to heroku only, but cannot be identified due to lack of an extension.

Likewise, in certain cases, where the extension itself has dots, like `.travis.yml` or `webpack.tar.gz`, the behaviour in this is taken as per the last extension, and not as per the complete one. Could this be of any concern later?

Also, some of the folders, have a unique naming style,

[2017-07-06 16:56] athityakumar commented on #20
@kaustubhhiware - Thanks, added `CONTRIBUTION.md`.

[2017-07-06 16:56] #20 closed

[2017-07-06 16:59] athityakumar commented on #11
`colorls` is now a gem. I don't think it'd get easier to install than `gem install colorls` 😅

Closing this issue for now, but feel free to reopen it. 😄

[2017-07-06 16:59] #11 closed

[2017-07-06 17:17] athityakumar commented on #25
- For `Procfile`, just add it to `files.yaml`. 🎉
- For `.travis.yml`and `webpack.tar.gz`, it's just recognized as a `.yml` and `.gz` extensions. But is it required to have special icons for them?
- Isn't `gulpfile.js/` detected by adding `gulpfile.js` to the `folders.yaml`? Folders aren't detected by their extensions, they are detected by their names itself.

[2017-07-06 17:36] kaustubhhiware commented on #25
I'm just pointing out there are going to be more instances like this.

I am not sure if special icons are needed for `.travis.yml`, and the likes. I want to know what you think about this?

[2017-07-06 17:38] athityakumar opened #28 "Support for -h / --help"
This flag option is a standalone one, which can be used to print the various flags and use cases.

[2017-07-06 17:39] athityakumar opened #29 "Support for -R / --recursive"
This flag option can be used to recursively print all files inside sub-directories.

Side note : The existing `-r / --report` flag can be changed to `-i / --info`.

[2017-07-06 17:43] kaustubhhiware commented on #20
@athityakumar , You should mention the contributing guide at the end of the README. Generally, that helps for new contributors, who wouldn't straight away head to `CONTRIBUTING.md`.

Reopen the issue, for a while until this is done.

[2017-07-06 17:45] kaustubhhiware commented on #2
Closing this issue since gem has been published, which does not require a separated function to be written.

[2017-07-06 17:45] #2 closed

[2017-07-06 17:46] athityakumar commented on #20
Isn't it already linked from the README?

[2017-07-06 17:48] kaustubhhiware commented on #20
I personally don't think that will suffice.
 Another header with contributing at the very end would be better in my opinion, what do you think ?

[2017-07-06 17:52] athityakumar commented on #20
Peace, willing to send a PR? 😉

[2017-07-06 17:52] trivett opened #30 "Can't use in a Ruby project"
Great project, definitely snazzes up a dull terminal. I was just about to alias ls to lc when i  ran into trouble once i tried this inside of a Ruby (rails) project.

It looks like it needs the colorize gem in the bundle to work and I even threw it into the gemfile to see if that works, no luck.
Here is my error:

[code]
Any idea how to fix?

Much appreciated!

[2017-07-06 18:01] athityakumar commented on #30
@trivett - Thanks for filing this. It seems to be working with `.rvm` and bundler, but I haven't tested on `.rbenv` yet. 😄

Can you please try the below and get back?

Option 1.
[code]

Option 2. Add dependencies like `colorize` to a global `rbenv-gemset`.

[2017-07-06 18:04] trivett commented on #30
Option 1 worked like a charm, thank you! If I'm not the only one it might be worth putting in the readme but probably fine as is. Cheers!

[2017-07-06 18:04] #30 closed

[2017-07-06 18:10] athityakumar commented on #30
@trivett - I'm glad it worked. Would you be interested to add this in the README.md (Installation section > Between points 3 & 4, in italicized font) and send a PR?

[2017-07-06 18:11] trivett commented on #30
No problem!

[2017-07-06 18:50] trivett opened #33 ".git folder should be a more generic git icon rather than GitHub, Inc's logo"
Personally rubs me the wrong way that Git is conflated with Github in the minds of many.

Suggest using [this icon](http://fontawesome.io/icon/code-fork/) perhaps.

[2017-07-06 18:53] athityakumar commented on #33
I tried out quite a few icons, but none of them really felt like a 'git directory logo' (ie, they were tiny and not much visible). Hence, I had to compromise with github logo.

Can you attach a screenshot of `lc` with that icon? (Just to make sure it's visible and not too tiny)

[2017-07-06 18:59] kaustubhhiware commented on #33
Totally agree with @trivett's views about this. The discussions on reddit also pointed this out, but the sad thing is the available icons were not easily distingishable.

[2017-07-06 19:01] trivett commented on #33
👍  Will take a look in a bit

I do not work for Bit Bucket fwiw :)

[2017-07-06 19:06] trivett commented on #33
Taken on 2015 MacBook Pro 16 pt Ubuntu Mono in iTerm2:

1)
<img width="375" alt="screen shot 2017-07-06 at 3 03 53 pm" src="https://user-images.githubusercontent.com/1496845/27928270-8a5fcb0c-625c-11e7-99e6-ba3481363c3d.png">

2)
<img width="184" alt="screen shot 2017-07-06 at 3 05 58 pm" src="https://user-images.githubusercontent.com/1496845/27928318-b76f9cc6-625c-11e7-8aa8-bc84c5b41f69.png">

[2017-07-06 19:13] athityakumar commented on #33
@trivett - Also, you can consider some icons from [nerdfonts](https://nerdfonts.com/).
@kaustubhhiware - Sadly, that's true. They didn't investigate the reason behind why the `.git/` folder has a `github` icon - they just assumed that the OP didn't know that git & github are different.  😢

[2017-07-06 19:15] trivett commented on #33
Yep those two are from nerdfonts.

[2017-07-07 03:02] athityakumar commented on #12
@EricSoldierer - This project has become a gem now. `gem install colorls` should add the `lc` command automatically. Do you think this suffices? (Even Homebrew requires Ruby. So, why make it home brew dependent rather than making it a gem?) 😄

[2017-07-07 03:07] athityakumar commented on #13
It's now a Ruby gem, but beautifications are still probably required.

[2017-07-07 03:56] RathanakSreang opened #34 "Icon didn't display."
I did install `gem install colorls`.
Then I run `lc` it shows the list of my files and folders with come color but the icon is not working(` `).
Does anyone know what I did wrong?

[2017-07-07 04:18] athityakumar commented on #34
@RathanakSreang - Thanks for reporting this issue. I think you missed the step 2 of installation. Please install the patched `nerd-font` font and try `lc`. 😄

[2017-07-07 08:32] mathiasuhl opened #35 "Make symlinks visible with the -l option"
I like to replace my ls with lc but its missing the option to show the target of a symlink.
like "ls -l " test.rb -> mydir/test_v1.php

[2017-07-07 09:11] athityakumar commented on #33
Hmm, any suggestion for other alternate icons for `.git/`?

[2017-07-07 09:36] athityakumar commented on #35
Hey @mathiasuhl, thanks for filing this issue. But I feel that this use-case of symlinks might be a tad bit less frequently used by the community. Anyways, are you sure it's the `-r` flag?

[2017-07-07 14:05] define-private-public opened #36 "Font Icons & Linux"
Hi.  I'm trying to run this on Linux.  I'm a little stuck at the install line that says "Install the patched fonts of powerline nerd-font and/or font-awesome."  Can you give some better instructions?

Also, (at least on Linux) the `lc` command is already taken by the `Mono Licnese Compiler` if you have Mono installed.  This may be an issue for some others.

[2017-07-07 14:08] bgold0 commented on #34
Would anyone care to give any guidance on how to actually install the fonts. Step 2 isn't very informative

[2017-07-07 14:15] athityakumar commented on #36
Hey @define-private-public! Thanks for filing this issue. Interesting GitHub username, by the way.
 😄

- Regarding the nerd-font installation, read the README [here](https://github.com/ryanoasis/nerd-fonts).

- Regarding the `lc` command clash, please try if this works :
[code]

This should definitely be added to the README though. Would you like to contribute?

[2017-07-07 14:16] athityakumar commented on #34
@bgold0 - Regarding the nerd-font installation, please read the README [here](https://github.com/ryanoasis/nerd-fonts). 😄

[2017-07-07 14:20] bgold0 commented on #34
I did Option 2 for Mac OS X and still get question marks for the icons

On Fri, Jul 7, 2017 at 10:16 AM, Athitya Kumar <notifications@github.com>
wrote:

[2017-07-07 14:21] athityakumar commented on #34
@bgold0 - Hmm, are you using iTerm2?

[2017-07-07 14:29] define-private-public commented on #36
Colorls is overriding the `lc` of Mono.  IMO, the command should be changed to something like `colorls`.  And then tell users they can modify their `.bashrc` files and add `alias lc='colorls'`.  Luckily on the machine I'm on right now, I don't use Mono for any development, but I'm not sure what happens on other systems.

I think that nerd-font step should be written out in the README too.  Thanks.

[2017-07-07 14:33] athityakumar commented on #36
Agreed. Will correct this v0.1.2 for sure.

[2017-07-07 15:03] athityakumar commented on #36
@define-private-public - Done. Try reinstalling v0.1.3. 😄

[code]

[2017-07-07 15:40] define-private-public commented on #36
Thanks!

the README needs to be updated though to reflect the command changes.

[2017-07-07 15:48] define-private-public opened #39 "Support for -a / --all"
Is there a way to do this?  a good 3/4 of my home directory are dot files.  Right now the output kind of pollutes my screen with a lot more files than I need to look at.

[2017-07-07 15:50] athityakumar commented on #36
Isn't it updated?

[2017-07-07 15:51] define-private-public commented on #36
No.  Taken from the top section:

"- Just `lc` : Prints all directories, files and dotfiles in current directory."

A good old search and replace should fix this though.

[2017-07-07 15:55] athityakumar commented on #39
@define-private-public - Would a `-a` / `--all` flag work? This is yet to be implemented. 😄

[2017-07-07 15:56] define-private-public commented on #39
I think that hiding dot files should be the default, and `-a/--all` to show everything.  Just like with regular ls.

[2017-07-07 15:57] athityakumar commented on #36
I mean, doesn't the `Recommended configurations` take care of this? Or is it definitely required to completely remove `lc` from README? 😕

[2017-07-07 15:59] athityakumar commented on #39
Accepted. Renamed the issue. 👍

[2017-07-07 16:10] allenye0119 opened #40 "Support for -l / --long"
Is it possible to support the `-l` option to behave like `ls -l`?

[2017-07-07 16:16] athityakumar commented on #40
Hey @allenye0119! Thanks for filing this issue. If this is required, the only way might be to workaround by parsing the output of `ls -l` using backticks in Ruby (or similar system calls). Keeping this in mind, do you think `-l` / `--list` flag needs to be supported?

[2017-07-07 16:19] define-private-public commented on #36
It causes a little confusion IMO, since "Recommend configuration," comes after the first example usages of `lc`.

Think about this this way:  Someone installs the software with only reading the first bits and tries running `lc`.  They will see nothing unless they knew to read the entire README; which doesn't always happen.  You could move that alias up, or do the search and replace.

Right now I h

[2017-07-07 16:20] allenye0119 commented on #40
I think the information provided by `-l / --list` is really helpful, e.g. file permission, file size (when combined with `-h / --human-readable`) and the symlink destination.

[2017-07-07 16:31] athityakumar commented on #39
Added with commit 69ce52e1acc2f679b2800c781248835eaf6af813 and gem v0.1.4. 👍

[2017-07-07 16:37] athityakumar commented on #40
Hmm, not sure how well it fits in with the other flags. But, it'd definitely fit well as a stand-alone flag.

If anyone likes to work on this issue, please refer to this approach (psuedocode-ish) I haveve in my mind. 😄

[code]

[2017-07-07 17:04] define-private-public commented on #39
Works for me

[2017-07-07 17:05] define-private-public commented on #39
wait.  It should also show `.` and `..` too.

[2017-07-07 17:34] cknoxrun commented on #34
I'm in the same boat, just using plain OSX Terminal

[2017-07-07 19:05] gk7279 commented on #34
I fixed the same issue by opening terminal preferences -> text -> choosing nerd-font.

[2017-07-07 21:16] redcinelli opened #41 "error on empty folder ?"
Hey there, first off awesome project.
I just installed it and it look really neat !

But I happend to use it against some empty directory and I got that

[code]

I am not familiar with ruby but it does look like a stack trace :stuck_out_tongue_closed_eyes:
Is it just me ? I am on ubuntu 16.04

ps : sl is my alias for colorls ^-^

[2017-07-07 23:01] redcinelli commented on #41
Oy ! Buddy

I might I have found a fix :v:

[code]

I did fork your repo and red the contributing handbook but i've never done a pull request before, how are your/the best practice.

cheers :tada:

[2017-07-07 23:06] soctar opened #45 "Blank line before `lc` output"
When `lc` runs, there's a blank line before any output is printed. I know nothing about ruby - is it possible to remove this, or give an option of removing it (-q or similar)?

Really awesome work though! I'm a sucker for nice terminal enhancements.

[2017-07-07 23:14] soctar commented on #41
In a similar vein, lc on a single file also fails - might be the same fix.

[2017-07-08 02:57] joeytwiddle opened #48 "Support -gs / --git-status flag"
I wrote [a short shellscript](https://github.com/joeytwiddle/jsh/blob/master/code/shellscript/nicels/gitls.sh) that works like `ls -lrt` but displays the git status next to each file displayed, as shown in the `[..]` here:

![joey s xterm at 10 52 12 am on saturday 8 july 2017](https://user-images.githubusercontent.com/911799/27982076-b4af141a-63cb-11e7-92fd-07184afe90e9.png)

**You could consider

[2017-07-08 03:51] athityakumar commented on #45
Haha, it is indeed quite easy to remove this. But I intended to have this, to make sure the output isn't crowded with this prompt line. Are you sure that removing the newline is worth a flag? 😄

[2017-07-08 06:07] soctar commented on #45
I figured it might be nice to give a feature without alienating the user base, if it's a feature that most people want then it doesn't need a flag. Like, default behavior should be pretty nice for everyone, I feel like the newline gives that, but some people (me) might want something different? If it's a flag, definitely #28 is more valuable to do first.

[2017-07-08 06:31] athityakumar commented on #48
@joeytwiddle - Thanks for filing this issue. Accepted. 😄

In case someone is interested in adding this to `colorls`, please refer to this elementary approach I have in my mind : (Feel free to come up with other approaches though)

[code]

[2017-07-08 06:38] athityakumar commented on #45
@soctar - Sure, but I'm not sure if this is worth a flag option though. Iif you'd like to have a quick  workaround, try this -

- Open the `core.rb` file in your text editor (say, `subl`) with `subl $(gem which colorls)/../colorls/core.rb`.
- Remove the first line (`print "\n"`) in the `ls_line()` method in the `core.rb` file.

But maybe if there's more request for this option, it can definitely b

[2017-07-08 06:40] athityakumar commented on #41
@redcinelli @soctar - Thanks for filing this issue. I've reviewed PR #46 regarding this issue. 😄

[2017-07-08 06:43] athityakumar opened #49 "Add CHANGELOG.md"
It's quite important to document the changes that were made in each version of the released gem.

[2017-07-08 06:44] athityakumar commented on #34
@cknoxrun @bgold0 @RathanakSreang - Did you try the fix suggested by @gk7279 for `Terminal.app` and the one suggested in README for iTerm2?

[2017-07-08 07:08] athityakumar opened #50 "Add CONTRIBUTORS.md"
Because, attribution to open-source contributors is how we return back their ❤️

[2017-07-08 07:18] black-perl opened #51 "Could not get it up and running on OS X"
Good work !

Upon installation of Nerd fonts, colorls is not working for me. Throwing the following error:
<img width="1438" alt="screen shot 2017-07-08 at 12 41 25 pm" src="https://user-images.githubusercontent.com/5263761/27983504-3a1962ae-63db-11e7-91a3-62c04846da8e.png">

<img width="461" alt="screen shot 2017-07-08 at 12 45 21 pm" src="https://user-images.githubusercontent.com/5263761/2798350

[2017-07-08 07:25] athityakumar commented on #51
@black-perl - Thanks for filing this issue. What's your ruby version? Also, try `gem update psych`.

[2017-07-08 08:13] kaustubhhiware commented on #40
I think this was debated at the very start as well. Initially, `lc -l` was supported, relevant discussion at #4

[2017-07-08 08:16] kaustubhhiware commented on #50
Isn't this already visible in [contributors](https://github.com/athityakumar/colorls/graphs/contributors) ?
Personally, I think this is unnecessary since this would lead to some sort of rat race, people who contribute just to be attributed somewhere.

[2017-07-08 08:21] black-perl commented on #51
Ruby version:
ruby 2.0.0p648 (2015-12-16 revision 53162) [universal.x86_64-darwin15]

Fixed :
<img width="1438" alt="screen shot 2017-07-08 at 1 45 11 pm" src="https://user-images.githubusercontent.com/5263761/27983832-b77b76a8-63e3-11e7-8110-1ae0429afcfb.png">

Thanks !

[2017-07-08 08:21] #51 closed

[2017-07-08 10:00] GladOSkar commented on #40
I would like to work on this.
I am no expert but rather than parsing ls (which is apparently [discouraged](http://mywiki.wooledge.org/ParsingLs)) i would recommend printing all info from `File.stat(@input)` since it is all given there.
What do you think?

[2017-07-08 10:09] athityakumar commented on #40
@GladOSkar - Yes, I knew that ls parsing is a discouraged approach. But, I wasn't aware of `File#stat` method. Sure, go ahead with it. I'm assigning this to you. 😄

[2017-07-08 13:13] lzjqsdd commented on #41
same,hope to fix it

[2017-07-08 14:41] pimlottc commented on #33
Why not use the same icon that is being used for .gitignore?

[2017-07-08 14:43] cknoxrun commented on #34
@athityakumar yep that did it, thanks!

[2017-07-08 14:46] scoiatael opened #52 "Question: are you ok with clones in different language?"
Reason: distributing executable as Ruby gem is notoriously hard to pull off.

Would it be ok if I tried cloning this idea (awesome one, btw) in Golang / Rust / Crystal / Haskell? Basically, any compiled language in which you can simply distribute binaries for different OSes.

[2017-07-08 15:48] andreadellacorte opened #53 "colorls only returns folders"
I just installed colorls on mac, ruby 2.4.1 via rbenv, and seems to work ok, but it's not showing any .dot file

neither

colorls
colorls -r
colorls -f

return any of them, while ls -altr does

[2017-07-08 16:10] athityakumar commented on #53
@ValiumKnight - Thanks for filing this issue. Use the `-a` flag please. Like,  `colorls -a -r`. If you'd like the `-a`
flag by default, have a look at the Recommended configurations mentioned in the README. 😄

[2017-07-08 16:20] athityakumar commented on #33
@pimlottc - LGTM. How about others?

[2017-07-08 16:41] ValiumKnight commented on #53
Thank you! This seems to contradict what the README.md says:

*Just lc : Prints all directories, files and dotfiles in current directory.*

[2017-07-08 16:55] athityakumar commented on #53
Ah, this was prior to the addition of the `-a` flag. This should be changed.

[2017-07-08 19:10] reddysainathn opened #54 "Is colorls available for Git Bash or Windows Command Prompt?"

[2017-07-08 19:17] kaustubhhiware commented on #54
I think if you manage to install ruby on your windows system, and install the gem `colorls`, you should be able to use `colorls`. Can you just check this and inform if this suffices ?

[2017-07-08 19:20] madjo80 opened #55 "No icons appear in urxvt"
I'm trying to set up colorls on my linux-machine, and so far the application is working, but I lack the knowledge on how to get the icons to appear in my urxvt window.

Here's the font-line from my .Xresources:
URxvt*font: xft:DroidSansMonoForPowerline Nerd Font:pixelsize=15:antialias=true:hinting=true:autohint=true
This line works fine, it uses the proper typeface, but sadly the icons all appear

[2017-07-08 20:54] torarnv commented on #52
A clone/reimplementation that actually colorizes ls output instead of reimplementing ls would be interesting!

[2017-07-09 03:31] athityakumar commented on #55
Hey @madjo80! Thanks for filing this issue. Try doing the fixes indicated in [this discussion](https://github.com/powerline/fonts/issues/176). 😄

[2017-07-09 09:06] athityakumar commented on #41
Closed by PR #46

[2017-07-09 09:06] #41 closed

[2017-07-09 09:21] #18 closed

[2017-07-09 11:44] athityakumar opened #56 "Add COVERAGES.md"
This markdown file is intended to document the various mentions of this project. Here are some existing ones -

- https://m.youtube.com/watch?v=NESi45Q2mHg
- https://github.com/k4m4/terminals-are-sexy
- https://m.facebook.com/story.php?story_fbid=1972265916349994&id=1884586571784596
- https://openruby.com/pages/98288680-colorls-a-ruby-script-that-beautifies-the-terminals-ls
- https://openruby.com/

[2017-07-09 15:53] KSXGitHub opened #57 "Support -A / --almost-all"
From `man ls`:
![image](https://user-images.githubusercontent.com/11488886/27995456-d231f268-64f8-11e7-8088-c4f8a9e93901.png)

### Expected behaviour
1. `colorls -A` list all entries except `.` and `..`
2. `colorls -a` list all entries including `.` and `..`

### Current behaviour
1. There's no `-A` nor `--almost-all`
2. Option `-a`/`--all` is doing `-A`/`--almost-all`'s jobs

[2017-07-09 16:05] athityakumar commented on #57
Accepted. The existing `-a` should be renamed to `-A`, and support for `-a` has to be added.

[2017-07-09 16:28] #8 closed

[2017-07-09 17:03] KSXGitHub commented on #57
That should be a quick fix, I guess

[2017-07-09 17:08] KSXGitHub opened #58 "Support files in argument"
![image](https://user-images.githubusercontent.com/11488886/27996038-5afde4a8-6503-11e7-8bf5-c954a8c13df4.png)

**P.S.** Is `colorls` supposed to works exactly like regular `ls`?

[2017-07-09 17:12] athityakumar commented on #58
@KSXGitHub - Parsing `ls` is a discouraged approach. Hence, `colorls` in intended to work exactly like `ls` - but, currently has only some functionalities of `ls` implemented in Ruby. 😄

[2017-07-09 17:31] KSXGitHub commented on #58
@athityakumar There're many things that do not work like in regular `ls`, for instance: `ls -l`, `ls -h`, `ls -i`, `ls -I`, etc. I'm going assume the developers didn't read [`man ls`](http://man7.org/linux/man-pages/man1/ls.1.html). Maybe I should open a seperate issue on this :smile_cat:

[2017-07-09 20:02] bgold0 commented on #34
@gk7279's comment worked perfectly

[2017-07-09 20:47] KSXGitHub opened #59 "List of issues that do not work like normal ls"
There're some options that works on normal `/usr/bin/ls` but does not work or works differently in `colorls`. Here're some (there're more in [`man ls`](http://man7.org/linux/man-pages/man1/ls.1.html) but I couldn't list them all, so I just list things I needed most):

* [x] Support files
* [x] `-a` and `--all` should also list `.` and `..`
* [x] `-A` and `--almost-all` should list all files except

[2017-07-09 21:39] luisdavim opened #60 "Support for -t / --tree"
It would be awesome if colorls would have a flag to print a tree output, similar to the tree command.

[2017-07-10 01:07] adimasuhid commented on #57
@athityakumar I'll be picking this up if it's good with you.

[2017-07-10 02:47] athityakumar commented on #57
@adimasuhid - Sure, I'm assigning this issue to you. 😄

[2017-07-10 03:18] cajuuh opened #61 "Can't install colorls"
whe i type: ```sudo gem install colorls```

i get:
[code]
ruby version is 2.3.1, i already tried to rename the folders.

[2017-07-10 03:32] athityakumar commented on #61
Hey @cajuuh! Thanks for filing this issue. Please try the below approaches -

1.
[code]
2.
[code]

[2017-07-10 03:46] athityakumar commented on #52
@torarnv - Yes, but parsing `ls` is a discouraged approach. Hence, blindly colorizing `ls` output isn't done (it used to be like this, till commit 64d256efaded062efd7fede74807663400716b46). 😄

@scoiatael - There has been similar discussions (about clones) in issue #11 for a Python clone and with @sl regarding a JS clone which is installable by npm. However, all these were prior to `colorls` becomi

[2017-07-10 03:57] cajuuh commented on #61
well firstly thank you @athityakumar for the fatest answer i ever seen on github..

apparently i don't have permission to use ```gem``` outside ```sudo```
[code]
i tried the steps you mentioned under ```sudo``` but got the same error:
[code]

[2017-07-10 04:25] athityakumar commented on #61
@cajuuh - I'm not sure what exactly the issue is, but I think this is related to having Ruby with access levels and without any version manager like RVM, rbenv, etc. Do you have access to uninstall Ruby and install rvm? If yes, please do it and then `gem install colorls`. 😄

Else, give a try to the steps mentioned in the `CONTRIBUTING.md` file.

[2017-07-10 04:29] athityakumar commented on #60
Accepted. 👍

[2017-07-10 05:06] athityakumar commented on #58
@KSXGitHub - There are indeed quite a lot of features of `ls` that are to be included in `colorls`. It's not that the developers didn't read `man ls`, but rather it's just how ANY software is developed. Add an initial draft, then include feature A, then feature B, etc. Right? 😄

Meanwhile, I think @rubikonx9 already worked on this issue, but was reverted. @rubikonx9, can you please add a PR for th

[2017-07-10 06:17] craftzdog commented on #40
+1

[2017-07-10 06:53] Jab2870 opened #62 "Icons for specific files (match with filename, not extension)"
It would be great if, I was able to use the grunt icon for files named `Gruntfile.js` (\ue74c).

I tried adding: `Gruntfile.js   grunt` to the file_aliases.yaml ad adding `grunt   "\ue74c"` to the files.yaml but it didn't work.

[2017-07-10 07:47] athityakumar commented on #62
@Jab2870 - Currently, filenames' extension is decided by the part after the last dot. So, a `Gruntfile.js` gets recognized as a `.js` file.

Recognizing certain files by exact name isn't supported yet, but should be a goo addition.

[2017-07-10 07:50] athityakumar commented on #62
If anyone would like to take this up, the private method `ColorLS::Core#options` has to be modified with probably just 2-3 lines. 😄

[2017-07-10 08:22] scoiatael commented on #52
Yes, organization seems like a total overkill ;)

I agree that `gem install colorls` is simple enough, but it starts becoming problematic if:
* you want to support more Ruby versions,
* user has more gemsets,
* user does not have Ruby.

The major advantage of compiled languages vs interpreted (like Ruby, Python or JS) here is that you can compile it to one binary with as little dependencies as pos

[2017-07-10 10:03] torarnv commented on #52
@athityakumar I see, hmmm. I was hoping to `alias ls=colorls` 😢

[2017-07-10 10:54] rubikonx9 commented on #58
Here it is: #65.

[2017-07-10 11:22] yurividal opened #67 "Unable to list hidden (.dot) files"
how do i list dot files?

[2017-07-10 11:25] athityakumar commented on #54
@reddysainathn - Did you try the Installation steps mentioned in the README? I think the steps should be the same as long as you've Ruby. Though, I'm not sure if Windows Command Prompt has any issues with either colors, or icons.

Can you please report back on this? 😄

[2017-07-10 11:28] athityakumar commented on #67
@yurividal - Possible duplicate of issue #53. Try `colorls -a`. 😄

Pro-tip : To enable the `-a` flag by default, have a look at the 'recommended configuration' section of the README 😄

[2017-07-10 11:28] #62 closed

[2017-07-10 11:31] athityakumar commented on #25
Icons for special filenames have been added by PR #66 😄

[2017-07-10 11:31] yurividal commented on #67
thanks!

[2017-07-10 11:31] #67 closed

[2017-07-10 11:53] GladOSkar commented on #52
@scoiatael have you had a look at [exa](https://the.exa.website/)? That is a very feature-rich colorful ls replacement written in rust.

[2017-07-10 11:54] hallaksec commented on #61
I have the same error and none of the fixes worked for me.

[2017-07-10 12:05] athityakumar commented on #58
Fixed by #65. Closing this issue now.

[2017-07-10 12:05] #58 closed

[2017-07-10 12:12] athityakumar opened #68 "Add prompt config"
A lot of people have been mailing me, asking about how to get their prompt to look like the screenshots. Along with the configurations mentioned in the README, the powerlevel9k config I'm using can be found in [this gist](https://gist.github.com/athityakumar). This should also be put up in the README probably, next to the first screenshot. 😄

[2017-07-10 13:11] athityakumar commented on #40
Fixed with PR #63. Closing this issue now. Good work, @GladOSkar 👍

[2017-07-10 13:11] #40 closed

[2017-07-10 14:51] scoiatael commented on #52
Ha, no, I have not. Nice, thank you @GladOSkar :) Maybe adding icon support there would be a good next step then?

[2017-07-10 15:00] kaustubhhiware commented on #25
Hmm, now that the provision has been made to add specific filenames, this issue can be closed.

[2017-07-10 15:00] #25 closed

[2017-07-10 15:08] cajuuh commented on #61
@athityakumar - Sorry man, same error, even with the all RVM access :cry:

[2017-07-10 15:10] #36 closed

[2017-07-10 15:12] athityakumar commented on #61
@hallaksec @cajuuh - Ah, just saw the `curses` mentioned in the log. Try `sudo apt-get install libncurses5-dev` and then `gem install colorls`.

[2017-07-10 15:18] #68 closed

[2017-07-10 15:20] athityakumar commented on #35
@mathiasuhl - Can you please confirm on whether symlimks are shown with `lc -l` as per v0.1.5 of `colorls` gem? To update to the latest gem version, just `gem update colorls`. 😄

[2017-07-10 15:22] athityakumar commented on #34
Glad to hear, @bgold0 and @cknoxrun. How about you, @RathanakSreang? Would one of you be interested in adding this to the README? 😄

[2017-07-10 15:37] tomchapin opened #69 "Getting lots of warnings when attempting to use?"
When I install colorls on my mac (with Ruby 2.4.1p111) and use it, it is working, but I get a bunch of warnings?

[code]

[2017-07-10 15:42] EricSoldierer commented on #12
Nice, yeah a gem is completely fine :)
It does add the `colorls` command. Intentional to not add the `lc` ?

[2017-07-10 15:53] athityakumar commented on #12
@EricSoldierer - Yes, `lc` overlaps with [Mono executable](http://manpages.ubuntu.com/manpages/trusty/man1/lc.1.html).

[2017-07-10 15:57] EricSoldierer commented on #12
Ok then i guess a local alias is the way to go. Thanks for this tool :)

[2017-07-10 15:57] #12 closed

[2017-07-10 16:10] athityakumar commented on #69
@tomchapin - Thanks for filing this issue 😄 . Try adding this to your shell configuration file (`~/.bashrc`, `~/.zshrc` or `~/.fishrc`) -

[code]

[2017-07-10 16:18] GladOSkar commented on #35
No they aren't. Shouldn't bee too hard though.

[2017-07-10 16:48] GladOSkar commented on #35
Maybe i'll do it in the next few days

[2017-07-10 16:53] athityakumar commented on #35
Great, I'm assigning this issue to you @GladOSkar 😄

[2017-07-10 19:26] GladOSkar commented on #35
What about -r / --report? Should that or this be renamed?

[2017-07-10 19:27] sl commented on #52
Here's my javascript port for reference in case as we're considering how to best reduce redundancy seeing one of the implementations is useful. I look forward to seeing your rust implementation as well!

https://github.com/sl/colorls-js

[2017-07-10 20:31] tomchapin commented on #69
@athityakumar Thank you for that tip! I'm not comfortable with globally disabling Ruby warnings (since I'm a Ruby developer and need to know if my code is throwing warnings), but I think I found a happy compromise. I just added that environment variable directly to my colorls "lc" alias, like so:

[code]

[2017-07-11 00:43] mjurczyk opened #71 "NilClass Exception on an empty directory"
On MacOS when trying to `colorls / colorls -r` an empty directory, following errors get thrown:

[code]

Not really a no-go issue, but quite ugly.

[2017-07-11 01:37] cajuuh commented on #61
@athityakumar you sir is a lord and a gentleman. :man_in_tuxedo:

[2017-07-11 01:37] #61 closed

[2017-07-11 02:50] athityakumar commented on #71
@mjurczyk - I think this has already been fixed and released with v0.1.5. Try `gem update colorls`. 😄

[2017-07-11 02:53] athityakumar commented on #69
@tomchapin - These warnings are related to the gems used by `colorls` and not directly due to `colorls`. This may infact be the only happy workaround for now, unless the gems are updated too. (Or of course, you can also downgrade your Ruby version, but meh) 😄

[2017-07-11 03:05] athityakumar commented on #35
@GladOSkar - Let `--report` be as it is. Use `-r` for symlinks.

[2017-07-11 05:35] athityakumar commented on #35
@GladOSkar : How about using `-i` / `--info` to report, and `-r` for symlinks?

[2017-07-11 05:36] athityakumar commented on #29
Update : As symlink support is being added in `-r` flag, this option has been updated to `-R`.

[2017-07-11 06:53] GladOSkar commented on #35
@athityakumar seems more logical to me.

[2017-07-11 07:21] athityakumar opened #73 "Add colors.yaml for customizing colors"

[2017-07-11 08:21] elFua opened #74 "Support for clubbed flag options, like -al"
`-a` works on its own, and `-l` works on its own, but when combined to `-al` (like in GNU ls) it does not produce the expected output. Specifying them as separate arguments (`colorls -a -l`) has the expected behaviour.

[2017-07-11 08:37] athityakumar commented on #74
@elFua - Accepted, thanks for filing this issue. 😄

As you've specified above, `colorls -a -l` is intended to work like that. Each flag is implemented separately and support for usage of clubbed flags like `-al` is pending.

If anyone would like to contribute for this, the `ColorLS::Flags#flag_given` method is the one that needs to be tweaked. (Check with `String#include` rather than `Array#includ

[2017-07-11 09:30] pjcj opened #76 "Weighed colours for '-l' flag"
I used to use k (https://github.com/supercrabtree/k) but it has too many differences to ls.  One really nice feature it has, though, is to weight the colours according to file size and age - large file sizes are more red, smaller are more green, and newer files are lighter, older are darker.

I'd love to see such a feature in colorls.  This seems feasible now the -l option has been implemented.

[2017-07-11 09:50] athityakumar commented on #76
@pjcj - Thanks for filing this issue. The `-l` flag already colors the date / time as per last usage. Similar criteria can be used to be colorize file sizes as well. Is this intended to work only with `-l` flag?

[2017-07-11 10:38] #57 closed

[2017-07-11 11:21] athityakumar commented on #39
@define-private-public - Fixed with PR #75 , yet to be released (v0.1.6).

[2017-07-11 11:21] #45 closed

[2017-07-11 11:23] pjcj commented on #76
Ah, I hadn't realised the ageing colours were already implemented.  (I have ruby 1.9.1 from Ubuntu 14.04, and colorls seems not to work with it, but that's another story.)  The sizes only really makes sense with the -l flag, because that's where the size is reported, but the ageing could also work on standard output, if it is the name of the file which is being coloured.  This is the way in which

[2017-07-11 12:05] athityakumar commented on #76
Updated the issue name. Weighed colors are already implemented for the date column of `colorls`. This has to be extended for file sizes as well.

[2017-07-11 13:35] adimasuhid commented on #74
hi @athityakumar, I tried to update `flag_given?` as suggested above. It works well for `-al`. However, it fails for `-alsd` since it matches for both `-sd` and `-d` (which is unintentional for `String#include?`).

I'm thinking of two ways:
1. We add a condition for `-sd | -sf` as a special case
2. Perhaps rename `-sd | -sf` to a different single name flag (maybe `-D`, `-F` or whichever is in `man

[2017-07-11 14:04] GladOSkar commented on #76
What breakponts would be reasonable here? 1k, 1M, 1G?

[2017-07-11 14:05] GladOSkar commented on #74
To me, something like `-s=d` or `-s d` seems to be the more standard way to do it

[2017-07-11 14:06] avdv commented on #59
For me, `-lh` still does not work, it gets ignored and a short list is printed.

And `-l` already enables human readable file sizes, but that's OK for me.

[2017-07-11 14:08] GladOSkar commented on #59
@avdv yes. Because why would you want them to not be human readable? Though, we could think about a `-B` flag like exa does it, that shows the filesize in Bytes

[2017-07-11 14:29] pjcj commented on #76
This is what k is doing, which seems to work well enough: https://github.com/supercrabtree/k/blob/master/k.sh#L170

But I wonder whether a sliding scale would work?  More analogue, less digital?

[2017-07-11 14:52] GladOSkar commented on #35
I rethought: ls shows symlinks by default with `-l`.  I think that is more suitable here

[2017-07-11 16:23] athityakumar commented on #74
@adimasuhid @GladOSkar - For flags with more than one character (like `sd`), I'd like to assume it would be used separately and not with clubbed flags. Something like `colorls -al -sd` seems reasonable to me. Is it good to assume that all flags in clubbed flags are each just single character?

[2017-07-11 17:04] rusty1s opened #78 "r"

[2017-07-11 17:43] athityakumar commented on #78
@rusty1s - Filed this issue by mistake? 😕

[2017-07-11 17:58] rusty1s commented on #78
Oh my bad, sorry :(

[2017-07-11 17:58] #78 closed

[2017-07-11 21:54] tomlazar commented on #73
I would love to work on this.

[2017-07-11 22:21] GladOSkar commented on #74
Yes, but multi-character short flags are pretty non-standard anyways

[2017-07-11 22:37] elFua opened #79 "Rename -sd flag to fit GNU's --group-directories-first"
`colors --group-directories-first` does not work as the GNU version of `ls`, i.e. folders are not shown first.

[2017-07-12 01:10] #16 closed

[2017-07-12 03:50] athityakumar commented on #79
Hey @elFua, thanks for filing this issue. Please try `colorls -sd`. :smile:

[2017-07-12 06:18] athityakumar commented on #73
@tomlazar - Great, I'm assigning this issue to you.

I don't think new flags should be added. Rather, the different colors used by the `core.rb` file should all be read from the `colors.yaml` file.

[code]

[code]

Then, in the `options()` method, `[key, :green, :recognized_files]` -> `[key, @colors[:recognized_file], :recognized_files]` and so on. 😄

[2017-07-12 06:20] athityakumar commented on #59
`-a` and -A` flags have been fixed by PR #75

[2017-07-12 07:29] avdv commented on #59
The problem is still that the parsing of the flags does not support combining short flags together, such that `-lhA` has the same effect as `-l -h -A`.

Is there a reason to open code the option parsing, why aren't you using optparse instead?

[2017-07-12 07:49] athityakumar commented on #74
@GladOSkar @adimasuhid - Following from @avdv's suggestion in issue #59, would it be easier to use `optparse` to support flag inputs?

[2017-07-12 08:26] elFua commented on #79
Thanks! `-sd` works, but it would be good to have it work the same way as GNU `ls` so that in case people decide to alias `colorls` to `ls` then all pre-existing flags will just work as is, rather than having to use rewrite the aliases specifically for `colorls`.

[2017-07-12 08:29] elFua opened #80 "Support for man page"
Common flags like `-h` and `--help` are not supported.

Apart from that, no man page is defined:

[code]

[2017-07-12 09:10] athityakumar commented on #80
Thanks for filing this issue, @elFua. But, this is possibly a duplicate of issue #28. Man pages is a good enhancement though. 👍

[2017-07-12 15:14] athityakumar commented on #60
Alright, assigning this to myself. 😄

[2017-07-12 17:35] athityakumar commented on #60
Fixed with PR #82, yet to be released though. 😄

[2017-07-13 02:36] athityakumar commented on #60
@luisdavim - Released with v0.1.6. Try `gem update colorls` and then start using `colorls -t`. If any more enhancements are required in the `-t` / `--tree` flag, feel free to reopen the issue. 👍

[2017-07-13 02:36] #60 closed

[2017-07-13 14:29] athityakumar commented on #59
@avdv - Let' continue that discussion on issue #74? Closing this issue now.

[2017-07-13 14:29] #59 closed

[2017-07-13 14:54] athityakumar commented on #29
Fixed with `-t` / `--tree` flag.

[2017-07-13 14:54] #29 closed

[2017-07-13 14:55] athityakumar commented on #35
@GladOSkar @mathiasuhl - Can this issue be closed now?

[2017-07-13 14:56] athityakumar commented on #39
Released with v0.1.6. 😄

[2017-07-13 14:56] #39 closed

[2017-07-13 15:00] athityakumar opened #83 "Better method to parse flags"
Would it be better to use `optparse` / `thor` to handle flag parsing? This would also help in dynamically generating the `--help` options list. Another enhancement would be to support auto-complete functionality (on pressing `TAB`) for all flags.

[2017-07-13 15:01] #71 closed

[2017-07-13 15:15] athityakumar commented on #48
The above approach is too naive to work well with the `--tree` flag. Rather, the [git gem](https://github.com/schacon/ruby-git) can be used.

[code]

[2017-07-13 16:51] athityakumar opened #84 "Add FAQ.md for frequent issues and fixes"

[2017-07-13 17:13] kaustubhhiware commented on #84
Also, a link to FAQ.md must be subsequently be added to the README, so that anyone does not have to search for such a file by themself or find a relevant issue.

[2017-07-13 17:18] kaustubhhiware commented on #29
@athityakumar Can you correct your [second comment](https://github.com/athityakumar/colorls/issues/29#issuecomment-314328043) above as follows
[code]

This would be convenient in the future and remove any misunderstandings (and reduce some emails :sweat_smile: ) later. This comment will be removed later.

[2017-07-13 19:54] GladOSkar commented on #35
IMO yes

[2017-07-14 03:37] RathanakSreang commented on #34
@athityakumar
It working fine now.
Awesome.

[2017-07-14 05:47] #34 closed

[2017-07-14 06:20] athityakumar commented on #29
Oops, sorry for the confusion. Thanks for pointing out, @kaustubhhiware. This is what I meant -

- Initially, I wanted a `-r` / `--recursive` flag that opens all sub-directories and shows files present in them.
- Then, a request came for symlinks with `-r` flag. Hence, I renamed `--recursive` to `-R`.
- However, symlink support has been added with `-l` flag itself. And, `--recursive` / `-R` functi

[2017-07-14 06:23] athityakumar commented on #84
Yes, this is to be linked from the README (preferably, at the beginning of Installation section).

[2017-07-14 18:56] liavkoren opened #85 "`load_from_yaml': undefined method `safe_load' for Psych:Module"
Hi. I'm not really a rubist, so am not sure about the best way to investigate this. On starting a new bash session, I get:

[code]
As I said, I don't write ruby regularly, so I'm sure aspects of my ruby setup are out of date -- I had to upgrade rvm, and it took a few tries with brew before I managed to get ruby 2.4.1 installed.

This only happens on init, and colorls works fine other than that.
It

[2017-07-14 19:10] athityakumar commented on #85
Hey @liavkoren, thanks for filing this issue. Check if `gem update psych` fixes the issue. 😄

[2017-07-15 02:53] liavkoren commented on #85
Still happens. Output from update and gem list:

[code]

[2017-07-15 06:36] athityakumar commented on #85
[code]

[2017-07-15 17:53] liavkoren commented on #85
`gem update colorls` It's a no-op.

[2017-07-16 16:25] Jab2870 opened #86 "Support configuration files inside home directory"
I really like this plugin but it would be better if I could have configuration files somewhere in my home directory (probably something like `~/.config/colorls/`) so that any custom icons I add won't be overwritten each time there is an update. I could see this replicating the YAML folder so that any of the 4 files in the repo could be extended in the home config directory.

[2017-07-17 17:11] athityakumar commented on #86
@Jab2870 - Thanks for the suggestion, accepted.

[2017-07-20 23:28] ryanoasis opened #87 "Misc readme fixes"
Misc readme fixes: typos and Nerd Font reference improvements

Suggested changes: https://github.com/athityakumar/colorls/compare/master...ryanoasis:patch-1

Per your guidelines creating an issue first before submitting a PR :smile:

[2017-07-20 23:51] ryanoasis commented on #33
I was going to suggest `e5fb` but at a typical term font size probably too small to even know what it is. Maybe it's time to create some more glyphs? :smirk:

[2017-07-21 05:58] athityakumar commented on #87
@ryanoasis - Looks good, please feel free to open a PR. 😄

[2017-07-21 06:05] athityakumar commented on #33
For now, I think we can workaround with` f1d3`.

(*Fanboy mode on, after seeing this suggestion from the maintainer of Nerd Fonts*) 😉
Yes please. There can never be more of glyphs. 😄

[2017-07-21 14:10] athityakumar commented on #35
@mathiasuhl - This feature has been added with PR #77, try updating `colorls`.  Closing this issue now, feel free to re-open this issue if required. 😄

[2017-07-21 14:10] #35 closed

[2017-07-21 18:03] athityakumar commented on #87
@ryanoasis - When you're creating the PR for this issue, can you also include the changes as discussed in issue #33 (git icon in `files.yaml`)? 😄

[2017-07-21 20:25] reddysainathn commented on #54
I tried in Git Bash with **gem install colorls**, it did not work. Is there an alternative with npm or yarn package install?

I will try again and post the log file as I can.

[2017-07-22 07:40] athityakumar commented on #54
@reddysainathn - Yes please, posting the log would really help. Meanwhile, can you try [this](http://foundation.zurb.com/forum/posts/8142-gem-or-foundation-command-not-found-with-git-bash-try-this) out?

[2017-07-23 01:58] ryanoasis commented on #87
Sure I can do that, I just thought someone else already planned to.

the same icon that is being used for .gitignore I believe was the ultimate consensus?

[2017-07-23 05:51] athityakumar commented on #87
@ryanoasis - Thanks. And yes, the same icon as .gitignore. 😄

[2017-07-23 15:06] ryanoasis commented on #87
Sure I have updated the icon as well: https://github.com/athityakumar/colorls/compare/master...ryanoasis:patch-1?expand=1

I didn't see anything on the contributing on number of commit messages or to squash so I just added the commit to the same branch. Let me know if you want me to change this.

[2017-07-23 16:32] athityakumar commented on #87
No need to squash, this looks good. :smile:

[2017-07-24 08:41] #33 closed

[2017-07-24 08:41] #87 closed

[2017-07-26 10:47] averissimo opened #89 "lc -l path/to/file throws exception"
Using `lc` as alias to `colorls`

Expected behavior in last line of picture

![image](https://user-images.githubusercontent.com/211358/28617343-44fe0336-7200-11e7-948f-1c0930041d12.png)

[2017-07-27 11:17] #89 closed

[2017-07-27 13:00] averissimo commented on #89
Faaaaast!! thanks!

[2017-07-27 15:35] Baneeishaque opened #91 "Installation Fails on Windows"
prism@PRISM-PC D:\Programs\Codes\CMD_Ruby\colorls
    $ gem install colorls
	Temporarily enhancing PATH for MSYS/MINGW...
	Building native extensions.  This could take a while...
	ERROR:  Error installing colorls:
	ERROR: Failed to build gem native extension.
	current directory: D:/Programs/Ruby24-x64/lib/ruby/gems/2.4.0/gems/ruby-terminfo-0.1.1
	D:/Programs/Ruby24-x64/bin/ruby.exe -r ./siteconf20

[2017-07-27 15:50] athityakumar commented on #91
Hey @Baneeishaque, thanks for filing this issue. Can you try installing the curses library? (`sudo apt-get install libncurses5-dev libncursesw5-dev` works for Linux systems, but I'm sure you will find it's WIndows equivalent) 😄

[2017-07-27 17:49] Baneeishaque commented on #91
$ gem install colorls
    Temporarily enhancing PATH for MSYS/MINGW...
    Building native extensions.  This could take a while...

MSYS2 is used for building native extensions, MSYS2 uses `pacman` as package manager (Arch linux and some other distros also using `pacman` as package manager. I am a windows guy and not much aware about pacman. can you suggest how to use these commands (`sudo apt-get

[2017-07-27 18:35] Baneeishaque commented on #91
I got these two links [ncurses 6.0+20170527-1](https://www.archlinux.org/packages/core/x86_64/ncurses/), [[Solved] Where is ncurses-dev? (missing .h file)](https://bbs.archlinux.org/viewtopic.php?id=117029); they says there is no `-dev package`. only `ncurses` exist, but i already installed ncurses. This is the steps takes to install `ncurses` on MSYS2 :

	prism@prism-PC MINGW64 ~
	$ pacman -Syuu

[2017-07-28 04:36] Baneeishaque opened #92 "Installation of [Nerd Font](https://github.com/ryanoasis/nerd-fonts)"
Is installation of  [Nerd Font](https://github.com/ryanoasis/nerd-fonts) necessory?, atleast in the case of linux?
I tried [first option](https://github.com/ryanoasis/nerd-fonts#option-1-install-script) of [Nerd Font](https://github.com/ryanoasis/nerd-fonts) installation. But, the git clone downloads more than 1 GB (i think this is due to large size of [Nerd Font](https://github.com/ryanoasis/nerd

[2017-07-28 04:42] Baneeishaque commented on #92
I think [Nerd Font](https://github.com/ryanoasis/nerd-fonts) is compatible with windows shells, because **[Nerd Font](https://github.com/ryanoasis/nerd-fonts) repository supplies seperate ttf files for windows.** For example, these are the windows compatible version of [AnonymousPro Nerd Font](https://github.com/ryanoasis/nerd-fonts/tree/master/patched-fonts/AnonymousPro) : https://github.com/ryan

[2017-08-02 11:47] schvabodka-man opened #94 "Trouble with dependency?"
Hi there. I've installed app and when i'm running it i get

/usr/share/rubygems/rubygems/core_ext/kernel_require.rb:127:in `require': /usr/local/lib64/gems/ruby/ruby-terminfo-0.1.1/terminfo.so: undefined symbol: setupterm - /usr/local/lib64/gems/ruby/ruby-terminfo-0.1.1/terminfo.so (LoadError)
	from /usr/share/rubygems/rubygems/core_ext/kernel_require.rb:127:in `rescue in require'
	from /usr/share

[2017-08-02 14:07] athityakumar commented on #94
Hey @schvabodka-man, thanks for filing this issue. Can you please try `sudo apt-get install libncurses5-dev` followed by `gem install colorls`?

[2017-08-02 17:37] schvabodka-man commented on #94
I've ncurses installed but must this be ncurses 5? I've ncurses 6 installed with devel libs and there is no ncurses 5 -devel in fedora repo. But i've installed ruby-ncurses(wondering if maybe it will help) but i'm still getting this error

[2017-08-03 19:06] mscottnelson commented on #53
this was an issue for me as well

[2017-08-03 19:40] athityakumar commented on #53
@mscottnelson - As you can see from the above discussion, do try `colorls -a` if you haven't already. Also, please feel free to edit the README and send a Pull Request for future users. 😄

[2017-08-05 01:54] mscottnelson commented on #53
Sure! Although I'm afraid I wont be making the screenshot as the other entries have...

[2017-08-05 13:16] athityakumar commented on #53
Thanks for working on this, @mscottnelson. Fixed with PR #96 😄  👍

[2017-08-05 13:16] #53 closed

[2017-08-15 22:44] athityakumar commented on #28
This is being added by PR #97

[2017-08-16 02:10] #28 closed

[2017-08-16 05:37] rohitner commented on #79
Along with aliasing colorls to ls, you may add additional line to alias colorls -sd to ls --group-directories-first in the .bashrc file

[2017-08-16 06:00] athityakumar commented on #79
@rohitner - Yes, but won't it be better if `colorls` by default supports `--group-directories-first` along with `--sort-directories` / `-sd`? It'd be easier for users if colorls supports GNU flags out of the box. Literally just a single line change in the `flags.rb` file. 😄

[2017-08-17 12:57] #79 closed

[2017-08-17 13:55] rohitner opened #99 "tab completion for commands"
`_colorls_options='-sd -sf -1 -t -r -l -a --tree --all --sort-dirs --sort-files'`
`complete -W "${_colorls_options}" 'colorls'`

adding these lines to .bashrc and doing `source ~/.bashrc` works well

[2017-08-17 17:20] avdv opened #101 "always list hidden files when given as arguments explicitly"
Currently, colorls does not support listing hidden files, even when given explicitly as an argument:

[code]

It should only skip hidden files when listing directories and `-a` or `-A` is not in effect.

[2017-08-17 19:14] avdv opened #103 "Make `colorls` a drop-in replacement for `ls`"
As time goes by, there are more and more command line options that differ from "standard" `ls` which makes it harder to switch to `colorls` (re-learn things and change old habits).

It would be nice, IMHO, if both tools would share the most common options and only diverge when necessary.

- [ ] remove multi-character short options (`-sd` and `-sf`)
- [ ] (re-)move short options that have a differe

[2017-08-17 19:51] avdv opened #104 "Long information not shown for files given as argument"
colorls just does not find the given file to show the extended information:

[code]

Note the second line which is caused by a `p` statement I have added to the `long_info` method. It shows that for the given argument it erroneously constructs a non-existing path.

[2017-08-19 12:04] KSXGitHub commented on #103
Default `ls` doesn't even have `-sd`/`-sf` (at least `/usr/bin/ls` on my machine)

[2017-08-21 12:42] #101 closed

[2017-08-21 12:42] #104 closed

[2017-08-22 15:36] athityakumar commented on #103
@avdv @KSXGitHub - Sorry for the late reply. I usually reply within hours, but I somehow missed this issue discussion. 😬

Ideologically, I think that it's fine for colorls to have some features that aren't part of ls - though the same flags shouldn't mean two different things in ls and colorls. So, regarding your queries -

1. `-sd` / `-sf` should be moved to some other flag (say, `-D` / `-F`) rat

[2017-08-22 16:01] KSXGitHub commented on #103
@athityakumar
I think `post-install` message is a good idea. I also think that you should not remove old flags so quickly, instead, deprecate the use of non-standard flags (warn/prevent users from using them and recommend new flags instead).

Regarding `-sd` and `-sf`, they should be renamed to `--sd`/`--sort-dir` and `--sf`/`--sort-files`, not `-D` nor `-F` (`ls` has used [`-D`](https://gist.gith

[2017-08-24 13:47] avdv commented on #103
Yeah, good idea! I think we are on the same page then... 😄

[2017-08-24 13:51] athityakumar commented on #103
@avdv @KSXGitHub - Sure, let's go ahead with renaming `-sd` / `-sf` to `--sd` / `--sf`. 👍

[2017-08-24 15:02] KSXGitHub opened #106 "'\uF481' is for links but has been assigned to YAML"
This is '\uF481':
![image](https://user-images.githubusercontent.com/11488886/29672847-97d9d71e-8917-11e7-9248-ce42d17b7fbc.png)

This [line](https://github.com/athityakumar/colorls/blob/fb40c72b1542084433088eb9020198f337a8874f/lib/yaml/files.yaml#L66)

[2017-08-24 15:19] athityakumar commented on #106
Hmm, and any icon you'd like to suggest for yaml?

[2017-08-24 15:59] KSXGitHub commented on #106
How about this?
![image](https://user-images.githubusercontent.com/11488886/29675253-db7ab91e-891e-11e7-8d59-d1d880202ecd.png)

I got this idea from file-icons ([atom](https://atom.io/packages/file-icons)/[vscode](https://github.com/vscode-icons/vscode-iconshttps://marketplace.visualstudio.com/items?itemName=file-icons.file-icons) plugin that provides file icons). They also use the icons above for

[2017-08-24 16:54] KSXGitHub opened #107 "Better icon for git"
Currently, git icon is 3 letters "git" which isn't an icon. I think this is better

![image](https://user-images.githubusercontent.com/11488886/29678029-4a13dbf0-8927-11e7-95ac-bec518e39b26.png)

[2017-08-24 18:30] KSXGitHub opened #108 "You may want to merge these branches"
I wanted to open a pull request but [this guide](https://github.com/athityakumar/colorls/blob/master/CONTRIBUTING.md) tells me not to.

I added some folder icons for `.atom`, `.vscode`, and `.github`: https://github.com/KSXGitHub/colorls/tree/new-folder-icons

I also added some file icons and fix things that don't make sense: https://github.com/KSXGitHub/colorls/tree/new-file-icons

![Screenshot](

[2017-08-24 19:10] athityakumar commented on #108
New folder icons look good. I commented 1 minor change in the new files commit. But sure, open PRs for both (or even a single PR combining both would do) 😄

[2017-08-24 19:11] athityakumar commented on #108
And thanks for following the CONTRIBUTION GUIDELINES 👍

[2017-08-24 19:16] athityakumar commented on #106
All the 3 icons resemble redis and similar db related stuff, as the names say. How about aliasing yaml icon to json?

[2017-08-24 19:23] KSXGitHub commented on #106
Technically, YAML is a superset of JSON. The thing is, file-icons font has way more icon than Nerd Font, but it uses database icon for json, cson, yaml, etc.

[2017-08-24 19:24] #108 closed

[2017-08-24 19:27] athityakumar commented on #107
Tried this out, but it's too small to be visible. You may also want to have a look at #33 discussion.

[2017-08-24 19:30] KSXGitHub commented on #107
I see, it cannot be fixed unless Nerd Font fixes the icon

[2017-08-24 19:30] #107 closed

[2017-08-24 19:42] athityakumar commented on #106
Hmm. But I just felt the existing json icon (`{}`) to be intuitive as json files do often contain nested hash (`{}` in ruby) data. Similar background story to current yaml icon. But these 3 definitely feel like redis / db-related to me. Or maybe we could have a look at some other icons.

[2017-08-24 20:08] KSXGitHub commented on #106
Some other languages such as JavaScript and Python use `{}` to embed json object too, but they're also use `[]` to embed json array, not to mention that most languages don't embed json code. ITOH, json, cson, yaml are always data

[2017-08-27 07:14] shadow-cpp opened #111 "WARNING: You don't have /home/shadow/.gem/ruby/2.4.0/bin in your PATH,"
WARNING:  You don't have /home/shadow/.gem/ruby/2.4.0/bin in your PATH,
	  gem executables will not run.
Successfully installed colorls-0.1.7
Parsing documentation for colorls-0.1.7

[2017-08-27 11:28] athityakumar commented on #111
@shadow-cpp : Try adding `export PATH=$PATH:/home/shadow/.gem/ruby/2.4.0/bin` , and re-install colorls gem.

[2017-08-27 11:59] shadow-cpp commented on #111
Solution thanks

[2017-08-27 11:59] #111 closed

[2017-08-27 18:16] melMass opened #112 "typo in readme"
### From
`subl $(gem which colorls)/../yaml/`

### To
`subl $(dirname $(gem which colorls))/yaml`

[2017-08-27 18:18] athityakumar commented on #112
Approved, please send in a PR. 😄

[2017-08-27 18:42] melMass commented on #86
Is this implemented already ?

[2017-08-27 18:50] athityakumar commented on #86
@melMass - Nope, this is yet to be implemented.

[2017-09-03 15:30] athityakumar commented on #112
Ping @melMass

[2017-09-06 09:07] maxgrenderjones commented on #85
Same issue (never used ruby, so don't really know where to start):

[code]

[2017-09-06 12:35] maxgrenderjones commented on #85
Well that turned out to be a bad idea 😄 - turns out `rubygems` needs `psych` to work at all, so once you uninstall it you break `gem`. And I'm on centos 7 where the official `psych` package is `2.0` (which supports `puppet`, which I can't uninstall) so I would appear to be stuck...

[2017-09-06 15:24] athityakumar commented on #85
Oops, sorry for that. But I'm pretty sure that it's definitely because of an older version of psych being used. For future purposes, maybe this needs to be specified in the `colorls.gemspec` file.

[2017-09-17 22:57] vyzyv opened #113 "Support for bold fonts"
Title basically says it. Is it possible, if so, how? I am not into ruby at all, so I would appreciate someone pointing me to the right direction.
Furthermore If somebody was willing to add this functionality I would have been more than happy. Anyways, great project, keep it up!

[2017-09-18 02:47] athityakumar commented on #113
Thanks for filing this issue, @vyzyv. The terminfo solution mentioned in [this](https://stackoverflow.com/a/29200084/7921831) stackoverflow answer could handle bold and custom-coloring too.

If anyone would like to take up this issue, the above link can be used to just have terminfo dependency and remove the colorize gem dependency. 😄

[2017-09-20 14:31] mscottnelson commented on #94
Just performed a 'brew update' and running into a similar kind of problem:
/usr/local/Cellar/ruby/2.4.2/lib/ruby/2.4.0/rubygems/core_ext/kernel_require.rb:55:in `require': dlopen(/usr/local/lib/ruby/gems/2.4.0/gems/ruby-terminfo-0.1.1/lib/terminfo.bundle, 9): Library not loaded: /usr/local/opt/ruby/lib/libruby.2.4.1.dylib (LoadError)
  Referenced from: /usr/local/lib/ruby/gems/2.4.0/gems/ruby-term

[2017-09-20 15:09] mscottnelson commented on #94
Although the case may be different than your's, @schvabodka-man, deleting /usr/local/lib/ruby/gems/2.4.0 and reinstalling colorls fixed this error for me.

[2017-09-21 13:21] athityakumar commented on #112
@melMass - Ping (1) 😉

[2017-10-01 14:26] Metamist commented on #103
I also noticed you cannot combine -l and -a into -la in `colorls`, while I can do that in `ls`. Not sure if you can do this with other flags as well, but would be nice to have!

[2017-10-04 16:41] #48 closed

[2017-10-04 16:41] #106 closed

[2017-10-04 20:10] #112 closed

[2017-10-04 20:14] athityakumar opened #115 "Fix Travis CI - Rubocop error"
![image](https://user-images.githubusercontent.com/17109060/31197417-a2e71906-a96e-11e7-800c-8fa3d18d7488.png)

[2017-10-04 20:42] lewazo commented on #113
Hello,

I'll be happy to help and submit a PR for this.

[2017-10-04 20:45] athityakumar commented on #113
Sounds great. Feel free to submit a PR, @lewazo. 😄

[2017-10-04 21:18] swentling87 commented on #115
I'll take this!

[2017-10-04 21:19] athityakumar commented on #115
Sure @swentling87, go for it! 😄

[2017-10-04 23:20] lewazo commented on #113
Well after looking for quite a bit on terminfo, it seems like the bold feature works great, but that will always set it to bold, it won't really take into account the typeface you set into the terminal, which is expected.

But what's weird is that the output produced by colorize will be bold (including the font-awesome icons) if the typeface on your terminal is set to bold, but only if you use the

[2017-10-05 02:54] lewazo commented on #86
I'll take this one.

[2017-10-05 04:06] #86 closed

[2017-10-05 04:06] #115 closed

[2017-10-05 04:09] ignaciojonas commented on #49
Hi 👋 , This issue was taken, but I think It will be better to use something like https://github.com/skywinder/github-changelog-generator, so every time you release the gem, you can automatically generate the Change Log with the PRs merged into the project. May be @igordcsouza can take a look.

[2017-10-05 13:22] athityakumar commented on #49
Thanks for the reference, @ignaciojonas. 👍

But the issue is that I haven't tagged the versions to commits (my bad 😞 ). So, @igordcsouza might have to manually add the changes by looking at changes in README between the versions by looking at the time a version was released and the commit closest to that time.

[2017-10-05 23:31] Katee commented on #83
I would like to take this task.

[2017-10-06 11:43] Metamist commented on #103
If colorls should become a drop-in replacement for `ls` I think the current flag system is incorrect. `ls` uses flags as attributes, one letter per 'option'. As such you can mix and match any attribute and get different results, while in `colorls` you have to use specific flags. That means `-la` or `-al` would require two different flags in `colorsls` to display all files as a list (attributes `l`

[2017-10-06 13:29] athityakumar commented on #103
@Metamist - Hmm, alright. Support for clubbing various options like `colorls -la` can be provided easily, if these option short-hands are ALL single-letter only. I think that the current flag system would rather be easier to provide support for clubbed short-hands (like `-la`). Would you like to work on adding support to clubbed flags? 😄

@avdv @KSXGitHub - I think that once the `-sd` -> `-D`,  `-

[2017-10-06 13:31] athityakumar commented on #83
@Katee - @avdv has been working on this issue in PR #100, but there has been no activity for the last 30+ days. Can you work on top of that PR, and send a new PR so that both of you have commit contribution? 😄

[2017-10-06 14:07] Metamist commented on #103
@athityakumar, I would be happy to work on it, however in order to provide `colorls` as a drop-in replacement for `ls` we need to get rid of flags longer than 1 character, such as `-sd` since it would conflict with the clubbed flag `-lasd` (is it `-sd` or `-d`, same example given in #74).
I'm not too used to ruby, but I could give it a try since it seems that the other issue hasn't had much activi

[2017-10-06 14:14] athityakumar commented on #103
@Metamist - Good to hear that you're interested in working on this. 😄

So, yes - each flag short-hand SHOULD have only one character. But, I (and hopefully many people) am using `-sd` as the default setting and wouldn't like such multi-character flags to be dropped. How about renaming them (like `-D`) instead? Then, clubbings like `-laD` could be handled easily with a simple logic of checking for

[2017-10-06 14:17] Metamist commented on #103
@athityakumar,
If they're being replaced to `-D` and `-F` that's alright to me.
But is `-gs` also being replaced to a `--` command or a single-character command?

[2017-10-06 14:36] athityakumar commented on #103
Okay, upon rethinking about it. it seems more simpler (KISS) to me to just leave the multi-character flags as it is. Like, `-sd` -> `--sd`, `-sf` -> `--sf` and `-gs` -> `--gs`. And rest of the single-character flags can be clubbed like `-la`.

[2017-10-06 16:18] Katee commented on #83
It seems like this touches on a bunch of issues and open PRs:

- PR https://github.com/athityakumar/colorls/pull/100
- PR https://github.com/athityakumar/colorls/pull/125
- Issue https://github.com/athityakumar/colorls/issues/103
- Issue https://github.com/athityakumar/colorls/issues/74#issuecomment-314454679

It doesn't seem to me jumping in would be helpful so I am going to pass on this.

[2017-10-06 19:52] #76 closed

[2017-10-06 21:53] mamonu commented on #56
created a pull request
https://github.com/athityakumar/colorls/pull/126

added a mention also from Hackernews

[2017-10-07 11:58] #74 closed

[2017-10-07 18:36] athityakumar commented on #83
@Katee - PR #125 has been merged and hence, now you'd only need to build upon PR #100. Just wanted to inform this before you decide to pass this on. Check if you'd be willing to take this up now. Of course, no issues if you decide to pass (as long as it's an informed decision). 😄

[2017-10-10 21:01] #56 closed

[2017-10-11 00:24] ylluminate opened #127 "MacOS Terminal : Use without Knack Regular Nerd Font Complete as default?"
Is there any way to make this work with Terminal.app on macOS without having to set the default font to `Knack Regular Nerd Font Complete`?

[2017-10-11 07:42] athityakumar opened #128 "Update gemspec with breaking changes, for next release"
Things to be included are tags that have been renamed, and new tags that have been added.

[2017-10-11 07:44] athityakumar commented on #127
I'm not sure if a workaround is possible, but setting the default font to `Knack Regular Nerd Font Complete` definitely works.

[2017-10-13 12:55] anthonyrichir commented on #61
Just for the record, I've juste experienced the same issue and installing libncurses5-dev solved the problem for me as well.

[2017-10-17 19:46] #83 closed

[2017-10-20 18:49] soulomoon commented on #94
I have the sam problem and
turns out uninstall ruby-terminfo
[code]
help me with it

[2017-10-20 18:55] athityakumar commented on #94
@soulomoon - Can you please screenshot / paste the error here?

[2017-10-20 21:29] athityakumar commented on #128
Added with 24406eaa67bb017c3cd802479f99e4424d50124d

[2017-10-20 21:29] #128 closed

[2017-10-20 21:37] athityakumar opened #132 "Add tests for output of each flag usage and combination"
This would probably be the MOST foolproof way of ensuring that everything is working as expected. Earlier, reviewing PRs used to be easier by looking at the Travis CI build logs. However, with increasing number of flag options, it becomes tougher and tougher to manually keep checking the changes. Hence, the need for **ACTUAL** tests (rspec) arises.

- Relevant Issues : (none)
- Relevant PRs : (non

[2017-10-21 20:51] soulomoon commented on #94
@athityakumar I am afraid I can not, because after the reinstallation of the ruby-terminfo, my error is gone.
It was fine in the first installation, but after I have done a brew update and gem update, it went bad.

[2017-10-21 23:07] henrebotha commented on #132
@athityakumar I'd like to do some work on this. I can't promise the full extent of every possible flag combination, but I can at least get us started with some basics.

[2017-10-22 02:43] athityakumar commented on #132
@henrebotha - Sure, feel free to get started. Thanks for working on this. 😄

[2017-10-22 10:33] athityakumar commented on #99
@rohitner - I get your point now. Though optparse handles CLI very well, the compete isn't triggered by TAB and hence isn't intuitive. Instead of adding this in README, let's create the `sh` file from ruby script itself?

[code]

By parsing this template and using ERB gem to provide all the flags, we'll be able to auto-generate this `tab_complete.sh`. Only catch is that, the user would have to do

[2017-10-22 13:53] rohitner commented on #99
`@all_flags` variable needs to be made. Once the flags are retrieved we can modify `.bashrc` by using `%x()` command in the ruby code itself. So step of sourcing the file will not be needed.

[2017-10-22 14:04] athityakumar commented on #99
Yes, but directly writing to the `~/.bashrc` isn't usually a good approach. Allowing the user to source the script themselves, is more convenient.

[2017-10-22 16:31] rohitner commented on #99
Since there is no source to retrieve all the flags, wont it be easier to maintain the shell file regularly instead of generating it?

[2017-10-22 16:55] athityakumar commented on #99
Hmm, sounds good. Would you like to take this up, @rohitner?

[2017-10-22 16:59] rohitner commented on #99
Sure, Working on it

[2017-10-22 17:06] athityakumar opened #134 "Add support for rubocop-rspec"
### Description

Rubocop-rspec introduces lot more Rubocop rules to the specs, so that the tests are all sane, DRY and readable.

- Relevant Issues : (none)
- Relevant PRs : (none)
- Type of issue :
  - [ ] Installation
  - [ ] Font-related
  - [ ] Feature request
  - [ ] Bug in existing feature
  - [x] Developer mode : Code quality / Tests / Documentation

[2017-10-22 17:09] athityakumar commented on #127
@ylluminate - I think that this font is a **MUST** for the icons to work. Sorry, but I'm afraid you would have to set it as the default / non-unicode font.

[2017-10-22 17:09] #127 closed

[2017-10-22 17:13] athityakumar commented on #92
@Baneeishaque - Sorry for the late reply. Just installing "Knack Regular Nerd Font" should do the trick. Can you please confirm this?

[2017-10-22 17:21] athityakumar commented on #80
In case anyone would like to take up this issue, [this](https://www.cyberciti.biz/faq/linux-unix-creating-a-manpage/) could be a possible guide on how to (easily) create a man page.

[2017-10-22 18:10] athityakumar commented on #99
Added by PR #135

[2017-10-22 18:10] #99 closed

[2017-10-22 18:58] athityakumar opened #136 "Better tab completion"
### Description

The current tab completion does work for flags. But it'd be better to have functionality of completing to flags when a match is found, and works with normal directory tab complete when no match is found.

For example, `colorls ../<TAB>` doesn't complete the directories.

- Relevant Issues : #99
- Relevant PRs : #135
- Type of issue :
  - [ ] Installation
  - [ ] Font-related
  - [

[2017-10-23 13:27] #132 closed

[2017-10-23 13:29] athityakumar commented on #134
@henrebotha - In case you'd like to contribute more, I'd recommend this issue next as it's pretty relevant to the tests you added in PR #133. 😄

[2017-10-23 19:39] lucienemlf commented on #134
I would like to work on this

[2017-10-23 19:57] athityakumar commented on #134
@henrebotha - Let us know if you've already started working on this. Else, I can assign this issue to @lucienemlf.

[2017-10-23 20:31] henrebotha commented on #134
You can assign it, I've done enough damage. :P

[2017-10-23 20:43] athityakumar commented on #134
@henrebotha - Alright then. No issues. 😄
@lucienemlf - Feel free to work on this issue. I assign this to you.

[2017-10-25 16:45] rohitner commented on #136
@athityakumar replacing
`complete -W "${_colorls_options}" 'colorls'` with
`complete -f -W "${_colorls_options}" 'colorls'`

[2017-10-25 18:43] athityakumar commented on #136
Oh, that's a better way. But could the flag options come in only when the completing ARG isn't empty? Like,

`colorls <TAB>` - All Files and directories
`colorls ../<TAB>`- Matching Files and directories
`colorls -<TAB>` - Matching Flags

[2017-10-26 04:13] rohitner commented on #136
`colorls -<TAB>` does show matching flags only and not the directories.

[2017-10-26 07:57] athityakumar commented on #136
I checked that, but consider scenario 1 (`colorls <TAB>`) : wouldn't it better to atleast group the flags and files separately? Give this a try.

[2017-10-26 14:40] athityakumar commented on #55
Ping @madjo80 - Did you try the above fix?

[2017-10-26 14:41] athityakumar commented on #54
@reddysainathn - Just a moment. Do you have Ruby installed? If ruby is installed, then `gem install colorls` should work properly. 😄

[2017-10-26 15:41] reddysainathn commented on #54
I tried that, this is a duplicate of [#91](https://github.com/athityakumar/colorls/issues/91). The same log that I get. This works fine in Ubuntu.

[2017-10-26 17:59] GeneralD commented on #136
btw, [zsh-completion-generator](https://github.com/RobSis/zsh-completion-generator) makes completion perfectly.
colorls -\<TAB\> shows

[code]

[2017-10-26 23:10] Ridonk opened #137 "Ruby-Terminfo : failed to build gem native extensions"
### Description

Attempting to install colorls and encountering some errors.

Initial error log:

[code]
Attempted `sudo apt-get install libncurses5-dev`

No change.

- Relevant Issues : (none)
- Relevant PRs : (none)
- Type of issue :
  - [x] Installation
  - [ ] Font-related
  - [ ] Feature request
  - [ ] Bug in existing feature
  - [ ] Developer mode : Code quality / Tests / Documentation

[2017-10-27 11:30] athityakumar commented on #137
@Ridonk - Hey, thanks for opening this issue. Try `gem install ncurses-ruby`

[2017-10-27 11:40] Ridonk commented on #137
Hey, just tried it. Got a similar error, seen below:
https://pastebin.com/tUiHRRdv
Maybe a dependency issue from ncurses?

[2017-10-28 10:39] #136 closed

[2017-10-28 13:26] athityakumar opened #140 "Support for more colors"
### Description

Currently, `colorize` gem is doing a good job of colorizing strings. However, not many colors are supported. Whereas, on the other hand, the Rainbow gem provides more eye-candies.

![image](https://user-images.githubusercontent.com/17109060/32134738-2cef4182-bc11-11e7-89d7-5088aca531b5.png)
![image](https://user-images.githubusercontent.com/17109060/32134741-410b3ca2-bc11-11e7-891

[2017-10-28 13:35] athityakumar opened #141 "Remove dependency on ruby-terminfo"
### Description

Most of the issues tagged "Installation" have this as common. Ruby-Terminfo being a Ruby extension, isn't easily installed by users. As this dependency is being used only to determine the current terminal width by colorls, porting to some other method rather than depending on ruby-terminfo would be a better way to proceed. For example,

[code]

- Relevant Issues : #137, #94, #91
-

[2017-10-28 17:00] athityakumar commented on #137
@Ridonk - The terminfo dependency has been removed, and replaced in v1.0.6. Please try `gem install colorls` again. 😄

[2017-10-28 17:00] athityakumar commented on #141
Added with #142

[2017-10-28 17:00] #141 closed

[2017-10-28 17:00] athityakumar commented on #140
Added with #142

[2017-10-28 17:00] #140 closed

[2017-10-28 17:36] athityakumar opened #143 "Speed up --git-status"
### Description

The `--git-status` flag seems to be significantly slow. For example, `colorls -l` takes 0.29 seconds to complete, while `colorls -l --gs` takes more than a second. A single flag shouldn't be slowing the results this much.

- Relevant Issues : (none)
- Relevant PRs : (none)
- Type of issue :
  - [ ] Installation
  - [ ] Font-related
  - [ ] Feature request
  - [x] Bug in existing f

[2017-10-29 00:17] athityakumar commented on #143
The issue was, the git status was being fetched for each file and this was VERY slow. Rather, fetching the git status once and using it for checking with every file seemed to reduce the time quite a bit. For the same scenario as above, the new approach added in PR #144 provides the results in 0.39 seconds - just 0.1 seconds added by ``--git-status` flag (as compared to > 1 second). :smile:

[2017-10-29 00:17] #143 closed

[2017-10-29 00:21] athityakumar commented on #94
For everyone who've faced this issue, the terminfo dependency has been removed, and replaced in v1.0.6. Please try `gem install colorls` (or, `gem update colorls`) again, in case you weren't able to successfully install earlier. If the issue seems fixed, we can close this issue. 😄

[2017-10-29 00:22] athityakumar commented on #91
@Baneeishaque - The terminfo dependency has been removed, and replaced in v1.0.6. Please give `gem install colorls` another try. If the installation was successful, we can close this issue. 😄

[2017-10-29 11:33] athityakumar opened #145 "Support to check for updates"
### Description

It's tough to keep communicating to the users that there's a new version of colorls out there. Hence, colorls core could use a small method that would check for internet connection, ping rubygems for latest colorls gem version and communicate with the user to update using `gem update colorls`.

- Relevant Issues : (none)
- Relevant PRs : (none)
- Type of issue :
  - [ ] Installati

[2017-10-29 16:46] schvabodka-man commented on #94
Ok, it's installable and works pretty neat. You can close this issue

[2017-10-29 18:44] athityakumar opened #146 "Update the screenshots in README"
### Description

The screenshots, were as of v0.1.4. The colors have been updated, and support for many more flags have been added. It'd be awesome to update the README with all these changes.

- Relevant Issues : (none)
- Relevant PRs : (none)
- Type of issue :
  - [ ] Installation
  - [ ] Font-related
  - [ ] Feature request
  - [ ] Bug in existing feature
  - [x] Developer mode : Code quality /

[2017-10-29 22:30] athityakumar commented on #146
### Flags

- [x] default : ![image](https://user-images.githubusercontent.com/17109060/32149040-04f3125c-bd25-11e7-8003-66fd29bc18d4.png)
- [x] `-a` or `--all` : ![image](https://user-images.githubusercontent.com/17109060/32149045-182eb39e-bd25-11e7-83d4-897cb14bcff3.png)
- [x] `-A` or `--almost-all` : ![image](https://user-images.githubusercontent.com/17109060/32149046-1ef7664e-bd25-11e7-8bd9-bfc

[2017-10-29 22:45] Ridonk commented on #137
Tried again, error pasted below:

`sudo gem install colorls
[sudo] password for georgeddunbar:
Fetching: rainbow-2.2.2.gem (100%)
Building native extensions.  This could take a while...
ERROR:  Error installing colorls:
	ERROR: Failed to build gem native extension.

    current directory: /var/lib/gems/2.3.0/gems/rainbow-2.2.2/ext
/usr/bin/ruby2.3 mkrf_conf.rb

current directory: /var/lib/gems/2.3

[2017-10-29 22:45] #137 closed

[2017-10-29 23:24] #146 closed

[2017-10-29 23:39] athityakumar commented on #145
To check for internet connection, [this code snippet](https://stackoverflow.com/questions/2385186/check-if-internet-connection-exists-with-ruby/8317838#8317838) could be used. Also, if there's a possible new version that's available, the update message shouldn't show more than once per day. For this, last notified day would need to be stored in a file to keep track, so that the user isn't nagged e

[2017-10-29 23:39] athityakumar commented on #134
Any updates, @lucienemlf?

[2017-10-29 23:43] athityakumar commented on #54
@reddysainathn - Oh. The failing terminfo dependency has been removed, and replaced in v1.0.6. Please give `gem install colorls` another try. If the installation was successful, we can close this issue. 😄

[2017-10-30 00:34] reddysainathn commented on #54
Thank you.

[2017-10-30 00:34] #54 closed

[2017-10-30 07:01] Baneeishaque commented on #91
Now, the installation is success, but `colorls` command give me another error.

[code]

[2017-10-30 15:33] TechnologyClassroom opened #147 "Grammar fixes"
I found a few quick grammar fixes.

Please usually has a comma after it.

Ideologically is mispelled.

- Relevant Issues : (none)
- Relevant PRs : (none)
- Type of issue :
  - [ ] Installation
  - [ ] Font-related
  - [ ] Feature request
  - [ ] Bug in existing feature
  - [X] Developer mode : Code quality / Tests / Documentation

[2017-10-30 15:38] disque-monde opened #149 "ZSH .gem/ruby/2.4.0/gems/colorls-1.0.9/lib/tab_complete.sh:4: command not found: complete"
### Description
  - [x] Bug in existing feature

Zsh error after write
`source $(dirname $(gem which colorls))/tab_complete.sh`
in my .zshrc on Arch Linux

Thanks

[2017-10-30 20:06] athityakumar commented on #147
Thanks for opening this issue, @TechnologyClassroom. I went through [this reference material](https://english.stackexchange.com/questions/389/in-what-cases-should-i-use-a-comma-after-please) regarding whether this change is required or not. To quote from the website,

From our use-case, the former seems to be a better choice (for me) over the latter (unless we judge the user of having a habit of n

[2017-10-30 20:12] athityakumar opened #151 "Sort contents by modification time"
### Description

Like sorting by files / dirs, sorting by modification time (`--st` or `--sort-time`) would be a useful flag.

- Relevant Issues : (none)
- Relevant PRs : #139, #154
- Type of issue :
  - [ ] Installation
  - [ ] Font-related
  - [x] Feature request
  - [ ] Bug in existing feature
  - [ ] Developer mode : Code quality / Tests / Documentation

[2017-10-30 20:13] athityakumar opened #152 "Sort contents by size"
### Description

Like sorting by files / dirs, sorting by modification time (`--ss` or `--sort-size`) would be a useful flag.

- Relevant Issues : (none)
- Relevant PRs : #155
- Type of issue :
  - [ ] Installation
  - [ ] Font-related
  - [x] Feature request
  - [ ] Bug in existing feature
  - [ ] Developer mode : Code quality / Tests / Documentation

[2017-10-30 20:17] TechnologyClassroom commented on #147
I figured it would be the second case.  This many pleases indicated to me that there were habitually people that did the opposite or nothing at all.  If this is not the case, than the former is appropriate.  Regardless, many of these instances of please could be removed altogether as there are currently seven on the readme.

[2017-10-30 20:20] athityakumar commented on #149
Arch Linux doesn't offer `complete` function for tab completion. Rather, `compadd` is supported. ([Source](http://zsh.sourceforge.net/Guide/zshguide06.html))

[code]

[2017-10-30 20:26] TechnologyClassroom commented on #147
Also user phord goes into greater detail below in that post.  Although the comment has less upvotes, it is a more recent and thoughtful post that may not have had as many eyes available for voting.

[2017-10-30 20:35] athityakumar commented on #147
Yup, this was intended. Having more "please"s with lesser emphasis (like, "Please try this solution if you face this issue.") seemed more polite than having lesser number of "please"s that've more emphasis (like, "Please, try this solution if you face this issue.")

[2017-10-30 20:38] #147 closed

[2017-10-30 20:47] athityakumar commented on #147
@TechnologyClassroom - Cool, thanks. And sorry for not being able to accept the changes proposed in PR #150. This is why I had added the following to `CONTRIBUTING.md`, right at the beginning. 😞

[2017-10-30 20:56] neshmi commented on #152
I'll jump on this! :)

[2017-10-30 20:59] athityakumar commented on #152
@neshmi - A similar thing (sort by time) is being dealt with, in PR #139. Have a look at it too, before proceeding. I'm assigning this to you. 😄

[2017-10-30 20:59] neshmi commented on #152
Thanks, happy to take on both.

[2017-11-02 08:59] athityakumar opened #156 "Add support for gitignore-d files and dirs"
### Description

Currently, all files and dirs that don't appear in the `git status --short` list is assumed to be tracked by git. Rather, ignored files and dirs should be handled as a separate case by parsing `git ls-files --others -i --exclude-standard`.

- Relevant Issues : (none)
- Relevant PRs : (none)
- Type of issue :
  - [ ] Installation
  - [ ] Font-related
  - [x] Feature request
  - [x]

[2017-11-07 21:53] #151 closed

[2017-11-07 21:53] #152 closed

[2017-11-07 22:08] avdv commented on #149
You can use bash completion scripts with ZSH this way:

[code]

[2017-11-08 00:56] #134 closed

[2017-11-08 21:08] avdv commented on #149
Even better, you can have optparse generate a ZSH completion script for you:

[code]
Note: the `$HOME/.completions` directory needs to be added to the `fpath` array, like this:

[code]
This way, you get nice options completion looking like this:
[code]

[2017-11-09 08:10] avdv commented on #149
@athityakumar Is it possible to generate the `_colorls` file automatically using the gemspec, ie. when running `gem install colorls`?

[2017-11-09 08:32] athityakumar commented on #149
@avdv - Nope, rubygems doesn't have the feature of doing anything automatically upon `gem install`-ing a gem, except displaying the `POST_INSTALL_MESSAGE`. I think we could rather add support for `colorls --setup` command. Such a setup flag would also help in generating the man pages as required in issue #80.

[2017-11-09 09:25] avdv commented on #149
How about this:

[code]

[2017-11-09 19:33] ahti commented on #23
I think you should reconsider this. The margins look very weird/out of place to me.

If you want to keep the empty line on top, there should be and empty line on the bottom as well. otherwise it looks weirdly cut-off  .

The margin on the left I could live with, but with a prompt that is wider than one or two characters, it looks weird as well.

Maybe add support for environment variables to speci

[2017-11-13 23:16] athityakumar opened #159 "Add FAQs to ISSUE TEMPLATE"
### Description

Add Frequently Asked Questions (FAQs) to the `ISSUES_TEMPLATE.md` file.

- Relevant Issues : #84
- Relevant PRs : (none)
- Type of issue :
  - [ ] Installation
  - [ ] Font-related
  - [ ] Feature request
  - [ ] Bug in existing feature
  - [x] Developer mode : Code quality / Tests / Documentation

[2017-11-18 03:52] athityakumar commented on #80
Support added by PR #158

[2017-11-18 03:52] #80 closed

[2017-11-20 14:43] rohitner commented on #156
So an 'I' instead of a tickmark when we hit `colorls --gs`. Is this what you mean?

[2017-11-20 15:16] athityakumar commented on #156
@rohitner - Just an empty space for the ignored files or directory (with all files ignored) will do the job too.

[2017-11-22 22:29] #156 closed

[2017-11-22 22:37] athityakumar commented on #149
@avdv - I've merged PR #160, but I'm not able to get the ZSH auto-complete like you've posted above. I've updateded the `fpath` in the zshenv. Are there any missing intermediate steps?

Maybe describing this in the README would be better?

[2017-11-23 09:47] avdv commented on #149
You should add it to the `.zshrc` as the README says. And - as with any completion functions in Zsh - you need to add this line before calling compinit.

[2017-11-24 12:17] MojoBandit opened #162 ""undefined method `to_h' in `load_from_yaml'""
### Description

Install went fine but when I try to execute `colorls` I get this:

[code]

- Type of issue :
  - [x] Installation
  - [ ] Font-related
  - [ ] Feature request
  - [ ] Bug in existing feature
  - [ ] Developer mode : Code quality / Tests / Documentation

### Context

MacOS X Sierra (10.12.6)

ruby 2.4.2p198

*** LOCAL GEMS ***
bigdecimal (default: 1.3.0)
did_you_mean (1.1.0)
io-con

[2017-11-26 02:57] MojoBandit commented on #162
Ok so I reinstalled everything and it seems to work fine now.

Sorry about that.

[2017-11-26 02:57] #162 closed

[2017-11-28 14:26] athityakumar opened #163 "Auto-completion for fish shell"
### Description

The auto-completion for flags and paths can be provided for the fish shell via the [getopt](https://github.com/fisherman/getopts) plugin.

- Relevant Issues : #160
- Relevant PRs : (none)
- Type of issue :
  - [ ] Installation
  - [ ] Font-related
  - [x] Feature request
  - [ ] Bug in existing feature
  - [ ] Developer mode : Code quality / Tests / Documentation

[2017-11-30 13:46] #13 closed

[2017-12-05 19:14] karambaq opened #165 "Use colors of the terminal theme."
### Description
I used colorls on other system, and it used the terminal colorscheme to display icons and etc
Screenshot:
![tmux](https://user-images.githubusercontent.com/14233969/33625617-2ca235d4-da09-11e7-9a8e-7d7488d56b0a.png)

And now I install on other laptop, same terminal colorscheme, same terminal emulator, but is used the other colors
Screenshot:
![image](https://user-images.githubuserc

[2017-12-06 05:01] athityakumar commented on #165
@karambaq - I don't see any inconsistency in your screenshots. The general color scheme [(dark - see this file)](https://github.com/athityakumar/colorls/blob/master/lib/yaml/dark_colors.yaml#L2-L4) provides

directory - blue
recognized file format - green
unrecognized file format- yellow

Simply, the two screenshots have different directory contents - hence, different colors. Let me know if I've m

[2017-12-06 10:07] karambaq commented on #165
Here is the same folder:
![image](https://user-images.githubusercontent.com/14233969/33656203-5df85c94-da86-11e7-9284-d1dcd34606ed.png)

[2017-12-08 16:55] athityakumar commented on #165
@karambaq - Can you please specify the Ruby versions in both examples? I just faced this - one set of colors (Light-green) with 2.2.7 and another set of colors (Dark-green) with 2.4.2. Weird, maybe something is defined depending on `RUBY_VERSION` in the rainbow gem. Can you confirm if this is the reason?

[2017-12-08 20:08] karambaq commented on #165
ruby --version
    ruby 2.4.2p198 (2017-09-14 revision 59899) [x86_64-linux]

[2017-12-12 16:10] luisdavim opened #168 "tree depth"
### Description

Add an option to specify a depth for the tree (`-t`) option, like the `-L` option in the tree command.

- Relevant Issues : (none)
- Relevant PRs : (none)
- Type of issue :
  - [ ] Installation
  - [ ] Font-related
  - [x] Feature request
  - [ ] Bug in existing feature
  - [ ] Developer mode : Code quality / Tests / Documentation

[2017-12-13 00:08] athityakumar commented on #168
Sounds good. Thanks for opening this issue, @luisdavim. In case anyone is interested to work on this issue, the current tree method works by recursion and a tree_depth argument has to be added to terminate from within the recursion.

[2017-12-21 16:02] duraki commented on #92
I can confirm, works for me. Would be nice to put font name in installation instructions.

[code]

[2017-12-22 00:30] athityakumar commented on #92
@duraki - Great. Feel free to send in a PR, mentioning this just after the README's Installation section as a "Note: ". 👍

[2018-01-01 23:33] wviechtb opened #171 "Adding a flag for paging"
### Description

When piping the output from colorls to `more` or `less`, the colors are lost and I see no way of retaining them. How about adding a flag to colorls directly that does paging when needed?

- Relevant Issues : (none)
- Relevant PRs : (none)
- Type of issue :
  - [ ] Installation
  - [ ] Font-related
  - [x] Feature request
  - [ ] Bug in existing feature
  - [ ] Developer mode : Cod

[2018-01-02 09:08] KSXGitHub opened #172 "colorls 'name that contains spaces'"
### Description

Pass an argument that contains spaces to colorls.

[code]

#### Expected

colorls treats the provided argument as a single entity.

#### Received

colorls treats each word in the argument as an entity, resulting in reading multiple invalid entities.

![image](https://user-images.githubusercontent.com/11488886/34479048-ff9972b2-efd6-11e7-87c5-4e5f65a83b5b.png)

- Relevant Issues :

[2018-01-02 09:59] avdv commented on #172
Which version are you using? I cannot reproduce this, neither with version 1.0.9 nor the latest revision of the master branch...

[2018-01-02 14:46] KSXGitHub commented on #172
Oops! It was because of my alias (`ls`), no problem in `colorls`, I'm sorry!

[2018-01-02 14:46] #172 closed

[2018-01-15 08:59] schovi opened #174 "Option to choose columns with -l flag"
### Description

Would be awesome to be able to select which columns I want to see with `-l` flag. Many terminal tutorials and configs come with command `ll` which is alias for `ls -la`. I use it exclusively whole day and 99% of cases I only want size and name of file itself (in this case icon and gitstatus too).
With classic `ls` it can be done with `| awk '{print $....}'`, but it does not work w

[2018-01-15 17:40] billimek opened #175 "new release"
### Description
The current published release is v1.0.1 and there have been 93 commits to master since this release.

Is it possible to get a new release of colorls cut, so we can benefit from these changes and features with a simple `gem install colorls` ?

- Relevant Issues : (none)
- Relevant PRs : (none)
- Type of issue :
  - [X] Installation
  - [ ] Font-related
  - [X] Feature request
  - [

[2018-01-15 18:23] athityakumar commented on #175
Hey @billimek - thanks for reminding about the new release. The newest version v1.1.0 has been released. 😄

[2018-01-15 18:30] #175 closed

[2018-01-15 21:46] octoxan opened #176 "Failing to install"
Trying to install colorls, and am getting the following error...

[code]

Here is what's in said log...
[code]

[2018-01-15 23:10] athityakumar commented on #176
@avdv - Are there any extensions to install before installing clocale gem?

[2018-01-16 07:31] avdv commented on #176
No, `clocale` does not need any extension. But building it requires a working compiler, seems that the simple C program failed to compile:

@octoxan What OS / distribution are you using? Try to install gcc...

[2018-01-16 14:14] octoxan commented on #176
@avdv Running a fresh install of Ubuntu 16.04 server.

After doing `sudo apt-get install gcc`, my new error is...

[code]

[2018-01-16 14:15] octoxan commented on #176
Ah, now after installing make, it works!

[2018-01-16 15:30] #176 closed

[2018-01-18 04:19] acarl005 opened #177 "Recognize Jupyter's `.ipynb` files"
### Description

Thanks for opening this issue. Add a brief description of what this issue is, and how to recreate it. Do tag the relevant issue(s) and PR(s) below. If required, add some screenshot(s) to showcase the issue.

- Relevant Issues : (none)
- Relevant PRs : (none)
- Type of issue :
  - [ ] Installation
  - [ ] Font-related
  - [x] Feature request
  - [ ] Bug in existing feature
  - [ ]

[2018-01-18 04:23] acarl005 opened #178 "Recognizing more media types"
### Description

Thanks for opening this issue. Add a brief description of what this issue is, and how to recreate it. Do tag the relevant issue(s) and PR(s) below. If required, add some screenshot(s) to showcase the issue.

- Relevant Issues : (none)
- Relevant PRs : (none)
- Type of issue :
  - [ ] Installation
  - [ ] Font-related
  - [x] Feature request
  - [ ] Bug in existing feature
  - [ ]

[2018-01-19 23:22] dkowis commented on #163
https://fishshell.com/docs/current/commands.html#complete

This is probably a better idea than using the getopt plugin? That way no extra plugin has to be installed, I think.

[2018-01-27 07:17] athityakumar commented on #178
Sure, LGTM. Can you send in a PR with these additions?

[2018-01-27 07:19] athityakumar commented on #177
Sure. Feel free to send in a PR. 😄

[2018-01-29 18:45] acarl005 commented on #178
Yep! #180

[2018-01-29 18:46] acarl005 commented on #177
done! #181

[2018-01-29 19:47] #177 closed

[2018-01-31 07:40] avdv commented on #149
Since #160 is merged and released in 1.1.0, this should be closed.

[2018-01-31 07:53] athityakumar commented on #149
Gotcha! 👍

[2018-01-31 07:53] #149 closed

[2018-02-01 16:15] #178 closed

[2018-02-03 06:13] benjamin-rood commented on #165
Just my two cents - `colorls` has never used my term colour scheme. I thought that was a feature... Am I doing something wrong?

[2018-02-03 06:48] benjamin-rood opened #182 "Speed issues with Mac OS"
### Description

[code]

C.f.:
[code]

Output always stalls after listing the `./` entry. One gives up, and kills the process with <kbd>Ctrl</kbd>+<kbd>C</kbd>.

Now, it's important to note that eventually it will return:
[code]

45.8 SECONDS!!! 89% cpu utilisation!

Now, let's try it with my default command set, which I normally alias to `lcl`:
[code]

 😵

I just want to point out that even `-l -

[2018-02-03 06:52] athityakumar commented on #182
@benjamin-rood : It's surprising that this difference is coming out due to Mac / Linux. Hmm. What're the Ruby versions in both the platforms? Maybe a slower Ruby version is Mac is resulting in this.

[2018-02-03 06:54] benjamin-rood commented on #182
macOS Sierra:
`ruby 2.5.0p0 (2017-12-25 revision 61468) [x86_64-darwin16]`  <-- newer

Ubuntu 16.04.3 LTS:
`ruby 2.3.1p112 (2016-04-26) [x86_64-linux-gnu]`

[2018-02-03 16:52] athityakumar commented on #182
Oh, that's weird. 😕

[2018-02-03 20:38] avdv commented on #182
Hi.

I could reproduce the problem on my Linux box (not as significant as what @benjamin-rood reported, but still).

The problem is that the `-a` switch also processes the parent directory (`..`), which means that the deep_entries method will completely traverse the parent directory (and each other directory of the current folder).

Try to run `time find .. -L > /dev/null` on both systems to get a

[2018-02-04 22:38] avdv commented on #182
Hey, you can try the PR #183 which should fix this by changing how the git status is determined. Also fixes a bug where it reported the wrong status for a directory. I am in a hurry right now, stay tuned.

[2018-02-06 18:29] blackjezreel opened #184 "Error installing colorls"
im using linux mint 18.3
i got this error when i run `sudo gem install colorls`

ERROR:  Error installing colorls:
ERROR: Failed to build gem native extension.
current directory: /var/lib/gems/2.3.0/gems/clocale-0.0.3/ext/clocale
/usr/bin/ruby2.3 -r ./siteconf20180207-8536-v1bj38.rb extconf.rb
mkmf.rb can't find header files for ruby at /usr/lib/ruby/include/ruby.h
extconf failed, exit code 1
Gem

[2018-02-06 22:31] avdv commented on #184
You need to install make, Ruby headers (ruby-dev) and a C compiler (ie. gcc) in order to build native extensions.

[2018-02-06 22:43] madjo80 commented on #55
in the end I switched to another less fickle terminal emulator. There were other issues that I encountered with urxvt.

[2018-02-07 11:48] blackjezreel commented on #184
@avdv thanks for replying
i have installed all of that package but still got the problem

[2018-02-07 11:53] blackjezreel commented on #184
[solved]
I do `sudo apt install --reinstall make` and it fix the problem.

[2018-02-07 11:53] #184 closed

[2018-02-27 15:15] sbibauw commented on #165
If I can contribute to this discussion, I think `colorls` should, as _default_ behavior, **use ANSI color scheme** (= Terminal colors) rather than a fixed set of X11 colors.
Meanwhile, I achieved this by following the `README` custom configuration recommendations:

    cp $(dirname $(gem which colorls))/yaml/dark_colors.yaml ~/.config/colorls/dark_colors.yaml

And customizing it with only ANSI col

[2018-02-27 15:25] sbibauw commented on #174
A partial solution would be to reproduce `-g` (= no owner column) and `-o` (= no group information column) options from `ls`.

[2018-03-24 17:50] msva opened #185 "NilClass exception on `--gs` in some git repos"
### Description

Calling `colorls --gs` in some repos (well, as for now I only can catch that in my dotfiles repo) produces no-go traceback:
[code]
with exit-code=1

I tried to debug it a bit, and here's the output of `git -C ~/.git_repos/configs status --porcelain -uall --ignored` (I took that from sources and dropped `-z` flag to make it a bit more human-readable (splitting by newlines):
[code]

[2018-03-24 20:27] msva commented on #165
well, the real issue, as far as I understand TS (and it is also what I am missing very much) is that colorls doesn't obey LS_COLORS, and uses it's own "themes".
Also, as second sub-issue, it is impossible (as far as I can see) to set terminal text "effects" like bold, underline, italic, reverse and so on in that custom "themes".

So, since LS_COLORS is already used by `ls` and have the support for

[2018-04-08 18:46] #185 closed

[2018-04-10 08:09] avdv commented on #182
Hey @benjamin-rood, please try again with version 1.1.1.

[2018-04-17 10:17] acavalin opened #187 "user not shown when the owner is root"
### Description

When i run `colorls -l` the user not shown on files which the owner is root:

[code]

- Relevant Issues : (none)
- Relevant PRs : (none)
- Type of issue :
  - [ ] Installation
  - [ ] Font-related
  - [ ] Feature request
  - [x] Bug in existing feature
  - [ ] Developer mode : Code quality / Tests / Documentation

[2018-04-20 10:38] #187 closed

[2018-04-22 05:14] ghost opened #189 "List files sorted by column rather than by row"
### Description

Long lists of files are (IMO) much easier to read if they are sorted by column, i.e.

[code]
rather than
[code]

This is the way output is sorted in ls. If you don't want this to be default behavior, please at least add a flag for it.

- Relevant Issues : (none)
- Relevant PRs : (none)
- Type of issue :
  - [ ] Installation
  - [ ] Font-related
  - [x] Feature request
  - [ ] Bug

[2018-04-23 15:27] acavalin opened #190 ""colorls -l" -- incorrect alignment when file size < 1KiB"
### Description

Hello, if a file weights less than 1KiB the columns are not aligned, see example:

[code]

- Relevant Issues : (none)
- Relevant PRs : (none)
- Type of issue :
  - [ ] Installation
  - [ ] Font-related
  - [ ] Feature request
  - [x] Bug in existing feature
  - [ ] Developer mode : Code quality / Tests / Documentation

[2018-05-07 14:26] ianizaguirre opened #191 "Icons don't appear in VSCode terminal ?"
Icons appear normally in my terminal on my dekstop but in my VS Code integrated terminal , the icons appear as empty boxs. Is it not supposed to work in the integrated terminal in VS Code?

[2018-05-07 14:33] #191 closed

[2018-05-17 09:26] SpaceWhite commented on #163
+1 for this feature

[2018-05-27 07:17] alichtman opened #192 "-r not working macOS terminal"
### Description

<img width="645" alt="image" src="https://user-images.githubusercontent.com/20600565/40583424-ea0d139c-6153-11e8-914a-85c4c54e1c35.png">

Report displays properly with `--report`, but not `-r`. Here's the relevant documentation.

<img width="912" alt="image" src="https://user-images.githubusercontent.com/20600565/40583428-12550be8-6154-11e8-9645-cfe326cbc40f.png">

- Relevant Issu

[2018-05-28 06:53] avdv commented on #192
`-r` means "reverse", see `colorls --help`:

[code]

[2018-05-28 14:19] alichtman commented on #192
This should be updated on the README.

[2018-05-31 08:38] anselal opened #193 "Icons do not appear on remote terminal"
### Description

Icons do not appear on remote terminal connection using MobaXterm

- Relevant Issues : (none)
- Relevant PRs : (none)
- Type of issue :
  - [ ] Installation
  - [X] Font-related
  - [ ] Feature request
  - [ ] Bug in existing feature
  - [ ] Developer mode : Code quality / Tests / Documentation

### System Info
- openSUSE Leap 42.2 x86_64
- ruby 2.1.9p490 (2016-03-30 revision 5443

[2018-05-31 10:08] avdv commented on #193
MobaXterm needs to be able to display the characters on your local machine, so you need to have the fonts installed and selected in MobaXterm.

[2018-05-31 10:11] anselal commented on #193
On my windows machine (client) I have installed the DejaVu NErd Fonts but I cannot select them in MobaXterm. Am I doing something wrong while installing them ?
I installed the DejaVu Powerline font and it works with MobaXxterm. I have also installed the Hack Nerd font but the still the same, does not appear in the list of fonts in MobaXterm.

[2018-06-01 16:10] avdv commented on #193
This post https://superuser.com/questions/1134268/mobaxterm-powerline-font-issue/1251965 outlines the steps to get mobaxterm to display the special characters. In the end, this is not directly related to colors at all.

[2018-06-01 18:47] anselal commented on #193
As I said, I managed to add a patched powerline font but not a nerd font. Even after restarting MobaXterm the fonts won't show up in the list...

I know that this in not directly related to colorls but a help would be nice. This also won't work with putty. So it is not only MobaXterm's problem. Actually MobaXterm is based on putty.

Is there another terminal emulator I can use on windows besides t

[2018-06-04 06:50] avdv commented on #193
This may help: https://github.com/powerline/fonts/issues/35

Otherwise, better ask elsewhere -- assumingly very few of the people here use Windows, we cannot give you any better guidance...

[2018-06-04 07:10] anselal commented on #193
thank you but you keep redirecting me to the powerline fonts but the instructions clearly say to use nerd fonts..

If you feel that there is nothing more to do here you can close this issue..

[2018-06-04 10:09] avdv commented on #193
Your problem is with fonts + putty on Windows, so you should look for solutions in that direction and how other people have solved it. An issue being specifically about powerline fonts is secondary, usually it applies to Nerd fonts as well.

You can close it yourself. Or doesn't it work?

[2018-06-04 10:14] anselal commented on #193
The powerline fonts work great with MobaXterm on Windows. The problem is with the nerd fonts..

[2018-06-04 18:35] stuaxo opened #194 "Support --hyperlink ?"
ls now supports embedding hyperlinks, this allows much better integration with gui environments.

Could colorls also support hyperlinks ?

[2018-06-04 21:23] avdv commented on #193
I did not mean to be sarcastic. Why did you think that? Anyway, I cannot help you any better.

[2018-06-05 05:05] anselal commented on #193
It sounded a bit sarcastic..

Thank you for your help !!!

[2018-06-10 18:59] vmario89 opened #196 "colorls for Babun/Cywgin with pact"
Hi,

i just installed colorls on Cygwin/Babun 64 Bit, which is integrated via Cmder/ConEmu and its working niceley except the speed fact.

i installed it with these commands:
[code]

The fonts i use with Cmder are DeJaVuSansMono Nerd Font and font-awesome-extension to the Windows font directory C:\Windows\fonts
![grafik](https://user-images.githubusercontent.com/5631071/41205266-a719bf9c-6cf0-11e8

[2018-06-10 19:03] vmario89 commented on #196
okay i just figured out that starting Babun directly utilizing mintty instead of Cmder it's much quicker:
![grafik](https://user-images.githubusercontent.com/5631071/41205324-a92e1e9e-6cf1-11e8-96c9-84bc6047143f.png)

[2018-06-26 17:33] freeAhao opened #197 "permissions 's'/'t' support?"
### Description
look's like colorls don't support permissions about 's' and 't'.

For Example:
for ls:
-> ls -l /usr/sbin/passwd
-rwsr-xr-x 1 root root 55416 Dec 17  2017 /usr/sbin/passwd

for colorls:
-> colorls -l /usr/sbin/passwd
  rwxr-xr-x    root   54 KiB  Sun Dec 17 00:03:57 2017    passwd

i got the wrong 'x' insted of 's'.

- Type of issue :
  - [ ] Bug in existing feature
  - [ ] Develo

[2018-07-10 09:58] wviechtb opened #199 "-X flag to sort alphabetically by entry extension"
### Description

I like flag `-X` of `ls` which sorts entries alphabetically by their extension (combined with `--group-directories-first`, but this is already available in `colorls`). Is this something that could be added? Thanks for considering this option.

- Relevant Issues : (none)
- Relevant PRs : (none)
- Type of issue :
  - [ ] Installation
  - [ ] Font-related
  - [X] Feature request
  -

[2018-07-14 04:20] ianizaguirre commented on #191
Yes, are you having trouble?

[2018-07-14 16:32] lyndsey-ferguson commented on #191
I have the empty boxes too. I tried installing the Nerd font, and changing the terminal font setting to use that font. Did you do something else?

[2018-07-14 16:48] ianizaguirre commented on #191
Yea, I added this to my VS code settings:

‘’’

  // ========== Integrated Terminal ==========
  "terminal.integrated.fontSize": 19,
  "terminal.integrated.lineHeight": 1.2,
  "terminal.integrated.fontFamily": "Hack Nerd Font",
  "terminal.integrated.fontWeightBold": "normal",

‘’’

[2018-07-15 18:01] lyndsey-ferguson commented on #191
I'll check it out

[2018-07-18 06:04] pguetschow opened #202 "root missing in view, causes alignment issues"
### Description

When displaying the list with`ll` the owner entry is missing, when the owner is root. As a result, the whole row has a different alignment.
![](https://i.imgur.com/CtAT0qQ.png)

Terminal: Hyper w/ Oh My Zsh
OS: macOS HighSierra 10.13.5

- Relevant Issues : (none)
- Relevant PRs : (none)
- Type of issue :
  - [ ] Installation
  - [ ] Font-related
  - [ ] Feature request
  - [x] Bug

[2018-07-18 07:04] avdv commented on #202
duplicate of #187, fixed by PR #188 but not yet released...

[2018-07-18 08:22] pguetschow commented on #202
@avdv Whoops, only read through the open issues

[2018-07-24 15:57] MrMic opened #203 "[SOLVED] New issue since today"
when i try ls, now i got this issue:

.rvm/gems/ruby-2.1.2/gems/colorls-1.1.1/lib/colorls/flags.rb:38:in `setlocale': error calling setlocale(1, "") (RuntimeError)
        from /Users/mic/.rvm/gems/ruby-2.1.2/gems/colorls-1.1.1/lib/colorls/flags.rb:38:in `process'
        from /Users/mic/.rvm/gems/ruby-2.1.2/gems/colorls-1.1.1/exe/colorls:5:in `<top (required)>'
        from /Users/mic/.rvm/gems/r

[2018-07-24 16:01] MrMic commented on #203
Seems to work with iTerm2 but not with HyperJS terminal.
https://hyper.is/

[2018-08-05 19:13] avdv commented on #203
Hi @MrMic, could you paste the output of running `locale` in HyperJS?

[2018-08-06 08:03] MrMic commented on #203
Hi @avdv,

The output is:
$ `locale`
LANG="fr.UTF-8"
LC_COLLATE="C"
LC_CTYPE="C"
LC_MESSAGES="C"
LC_MONETARY="C"
LC_NUMERIC="C"
LC_TIME="C"
LC_ALL=

Thanks for the follow-up and toubleshooting.

[2018-08-06 17:18] avdv commented on #203
Actually, that looks pretty normal.

Since you use rvm, do you have the same version of Ruby in iTerm2 and Hyper? (run `ruby --version` and `which colorls`)

Did you try re-installing `colorls`, or re-installing `clocale`?

[2018-08-06 19:03] avdv commented on #203
Oh, and what does `ruby -r clocale -e 'CLocale.setlocale(CLocale::LC_CTYPE, "s")'` give in both iTerm and Hyper?

[2018-08-06 22:24] MrMic commented on #203
In Iterm2:
ruby -r clocale -e 'CLocale.setlocale(CLocale::LC_CTYPE, "s")'
-e:1:in `setlocale': error calling setlocale(2, "s") (RuntimeError)
	from -e:1:in `<main>'

In Hyper:
ruby -r clocale -e 'CLocale.setlocale(CLocale::LC_CTYPE, "s")'
-e:1:in `setlocale': error calling setlocale(2, "s") (RuntimeError)
        from -e:1:in `<main>'

- Seems  that your commands has something wrong ...

[2018-08-07 05:15] avdv commented on #203
Yes, my bad. I did correct the error in the command already in the comment above, but maybe you copied it from the email? It should read:

`ruby -r clocale -e 'CLocale.setlocale(CLocale::LC_CTYPE, "")'`

[2018-08-07 07:29] MrMic commented on #203
No output in Iterm2 and HyperJS.

[2018-08-07 12:09] MrMic commented on #203
In Iterm2 => Nothing
In Hyper =>
ruby -r clocale -e 'CLocale.setlocale(CLocale::LC_COLLATE, "")'
-e:1:in `setlocale': error calling setlocale(1, "") (RuntimeError)
        from -e:1:in `<main>'

[2018-08-07 17:47] avdv commented on #203
Weird. Do you have the exact same ruby interpreter at hand in iTerm2 and Hyper?

I have not much experience with rvm...

Why do you use such an old ruby version, 2.1.2 is no longer supported, even 2.2 support has ended?

[2018-08-07 19:35] MrMic commented on #203
I just install the latest ruby with rvm:
ruby --version
ruby 2.2.1p85 (2015-02-26 revision 49769) [x86_64-darwin17]

And the results of your command line is:
- With Iterm2:
ruby -r clocale -e 'CLocale.setlocale(CLocale::LC_COLLATE, "")'
/Users/mic/.rvm/rubies/ruby-2.2.1/lib/ruby/site_ruby/2.2.0/rubygems/core_ext/kernel_require.rb:54:in `require': cannot load such file -- clocale (LoadError)
	from

[2018-08-07 19:47] avdv commented on #203
The latest Ruby should be 2.5.1, actually. What rvm command did you run?

However, since you freshly installed another Ruby version, you don't have the clocale gem installed yet. You need to run `gem install clocale` to do that before you can use it.

[2018-08-07 19:55] MrMic commented on #203
I have used:
rvm install ruby --latest

And installed clocale (gem) , the same way you mentioned.
Results:
- With Iterm2: No output
- With Hyper:
ruby -r clocale -e 'CLocale.setlocale(CLocale::LC_COLLATE, "")'
-e:1:in `setlocale': error calling setlocale(1, "") (RuntimeError)
        from -e:1:in `<main>'

[2018-08-08 05:42] avdv commented on #203
According to https://askubuntu.com/questions/330072/how-to-find-and-install-latest-ruby-version-using-rvm#comment1051298_505276 `rvm install ruby --latest` seems not always to install the latest version. I don't know what it's supposed to do, but maybe try `rvm install 2.5` -- that should get you version 2.5.1. You could also try upgrading rvm itself.

Does `ruby -r clocale -e 'CLocale.setlocale(C

[2018-08-08 07:55] MrMic commented on #203
OK, now installed and switched to **ruby  2.5.1**
To be sure, I have also reinstalled clocale and colorls, just in case ...
No output for Iterm2 and Hyper, for the command:
- ruby -r clocale -e 'CLocale.setlocale(CLocale::LC_COLLATE, "C")'

- For the command: ruby -r clocale -e 'CLocale.setlocale(CLocale::LC_COLLATE, "")'
-> **Iterm2**: no output
-> **Hyper**:
ruby -r clocale -e 'CLocale.setlocale

[2018-08-08 10:03] avdv commented on #203
OK. That suggests there is indeed some difference in the environment which is causing that.

But according to your `locale` output above `setlocale(LC_COLLATE, "")` should actually have the same effect as `setlocale(LC_COLLATE, "C")` since `LC_COLLATE` is set to `"C"` on your machine. Maybe that does not work somehow?

Does `ruby -r clocale -e 'CLocale.setlocale(CLocale::LC_COLLATE, "fr.UTF-8")' w

[2018-08-08 10:10] avdv commented on #203
What happens if you change the “Set locale variables automatically” in iTerm2? (in iTerm2 go to: Profiles -> Terminal, click the checkbox, restart iterm afterwards) Does it show the same behavior as Hyper?

[2018-08-08 11:01] avdv commented on #203
OK, but I was asking you to change it. So, when you untick the box and restart iterm, does it show the same behaviour as Hyper? I would expect yes.

What is the output of `locale` in iTerm2 with the checkbox checked?

[2018-08-08 11:06] avdv commented on #203
And what does `locale -a | grep fr` output? Is `fr.UTF-8` listed?

[2018-08-08 11:14] MrMic commented on #203
1.
ruby -r clocale -e 'CLocale.setlocale(CLocale::LC_COLLATE, "fr.UTF-8")'
- Both terminal report error:
Traceback (most recent call last):
        1: from -e:1:in `<main>'
-e:1:in `setlocale': error calling setlocale(1, "fr.UTF-8") (RuntimeError)

2.
LC_COLLATE=C ruby -r clocale -e 'CLocale.setlocale(CLocale::LC_COLLATE, "")'
- Both terminal report no error.

3. With checkbox no checked, locale r

[2018-08-08 12:25] avdv commented on #203
I was just using what you gave me in your comment here: https://github.com/athityakumar/colorls/issues/203#issuecomment-410622761

Try to set the locale in Hyper to `fr_FR.UTF-8` like so:

[code]
Does that work?

[2018-08-08 12:33] MrMic commented on #203
yes it works.
Now what I have to do for, permanent usage?

[2018-08-08 12:51] avdv commented on #203
Depends on the Shell you're using. Is it bash? Add this statement to your `~/.bashrc`.

[2018-08-08 12:52] avdv commented on #203
Maybe there's a setting in Hyper for this? Maybe it's a bug in Hyper that it does not correctly initialize the locale?

[2018-08-08 12:57] MrMic commented on #203
That why I asked! Because I use zsh and know how to export environment variables ...
But I thought it was an issue with Hyper!
In my other terminal, i do NOT need to export such things in
order to use colorls!

I will search docs, web ...
Thanks for all anyway.

Rgds,

[2018-08-08 12:57] #203 closed

[2018-08-08 14:18] avdv commented on #203
To debug, look at the output of `read -g AppleLocale`. Maybe that gives you a hint. Good luck!

[2018-08-09 13:26] ghyatzo opened #204 "[SOLVED] setlocale error on startup"
Hello, every time i try to use colorls it goes:
`Traceback (most recent call last):
        4: from /Users/ghyatzo/.rbenv/versions/2.5.1/bin/colorls:23:in '<main>'
        3: from /Users/ghyatzo/.rbenv/versions/2.5.1/bin/colorls:23:in 'load'
        2: from /Users/ghyatzo/.rbenv/versions/2.5.1/lib/ruby/gems/2.5.0/gems/colorls-1.1.1/exe/colorls:5:in '<top (required)>'
        1: from /Users/ghyatzo

[2018-08-09 14:33] avdv commented on #204
Seems the same problem as in #203. Do you use the Hyper terminal?

What's the output of `defaults read -g AppleLocale`?

[2018-08-09 14:50] ghyatzo commented on #204
yes i do, i wanted to try it out.
the output is simply `it_IT`

[2018-08-09 18:46] avdv commented on #204
There is (was) an issue in Hyper: https://github.com/zeit/hyper/issues/607 about this problem. Coincidentally with the same locale you're using...

Seems to be fixed in Hyper 2.1.0-canary, but that seems to cause other issues:

https://github.com/zeit/hyper/issues/3091

[2018-08-09 19:16] avdv commented on #203
@MrMic FYI, here's a bug about your problem in Hyper: https://github.com/zeit/hyper/issues/607

It should be fixed already in Hyper 2.1.0-canary.2 but see also here: https://github.com/zeit/hyper/issues/3091

[2018-08-09 19:56] MrMic commented on #203
@avdv
There is an env variable in Hyper config file: I used it for
this purpose, now all seems OK.

[2018-08-10 12:57] #204 closed

[2018-08-10 13:18] ghyatzo opened #205 "Nicer output when passing invalid options"
Hello,
I know this is of secondary importance but i noticed it and while i'm at it i figured i could point it out:

While using colorls (aliased to just ls) if i pass down an invalid argument like `-2` instead of `-1` the resulting error output is the following:

`Traceback (most recent call last):
        5: from /Users/ghyatzo/.rbenv/versions/2.5.1/bin/colorls:23:in '<main>'
        4: from /Use

[2018-08-12 16:33] #199 closed

[2018-08-13 04:43] securisec opened #206 "Feature request: Color certain directories a different color"
I am not sure if this feature already exists, but if not, I would like to make a feature request.

Feature: Color certain directory patterns a different color. Example: *_vnev would be colored cyan.

Use case: I often use a lot of virtualenvs for python, and my directories always end with the prefix `_venv`. It would be great to visually differentiate those directories with a color and icon.

[2018-08-13 07:39] mashehu opened #207 "change git icon"
### Description
Hi,

I find the current git icon not so fitting in with the rest of the icons (since it is simple the word "git"). It is probably not so helpful when going through files and folders to find something like this (especially the "git .git" combo)
![screenshot 2018-08-13 09 26 15](https://user-images.githubusercontent.com/6169021/44018518-5c403c94-9edc-11e8-8003-0cfd54c2f776.png)

I wo

[2018-08-15 15:38] itsthomas commented on #92
I cannot find any font with the name "Knack Regular Nerd Font".

[2018-08-15 15:43] itsthomas opened #209 "zsh: command not found: colorls"
colorls works in bash but not in zsh.
If I run colorls in zsh I get this error:

zsh: command not found: colorls

[2018-08-15 18:45] #209 closed

[2018-08-15 18:47] itsthomas commented on #209
Sorry, falls alarm. Can some one please remove this issue?

[2018-08-17 16:58] #197 closed

[2018-08-17 21:04] avdv commented on #194
Hey @stuaxo, sure thing! I've prepared a PR: #210

[2018-08-17 21:56] #194 closed

[2018-08-20 06:04] #205 closed

[2018-08-20 06:08] avdv commented on #205
Thanks for the report, @ghyatzo. I changed the code accordingly to handle this situation. Only I did not want to throw +100 lines of help text at the user if there's an invalid option, just a simple error message and hint about running `colorls --help` -- similar to what GNU ls does.

[2018-08-26 18:31] mkjmdski commented on #168
What is the current progress on this feature request?

[2018-09-07 05:52] benjbrandall commented on #92
Me neither, getting: `2018-09-07 08:45:58 ERROR 404: Not Found.` on the wget of Knack Regular provided in duraki's comment.

This worked: `wget https://github.com/enricobacis/.dotfiles/blob/master/osx-fonts/Library/Fonts/Knack%20Regular%20Nerd%20Font%20Complete.ttf`

[2018-09-07 06:50] drn opened #214 "Leveraging colorls config in another opensource project"
Hi @athityakumar,

First, I wanted to thank you for such a wonderful project!

Secondly, I wanted to reach out to let you know that I am leveraging some of the configuration that's part of this project (specifically icon values in https://github.com/athityakumar/colorls/tree/master/lib/yaml) as the basis of the configuration of another opensource project ([nerd-ls](https://github.com/drn/nerd-ls),

[2018-09-07 07:04] avdv commented on #92
"Knack" is the old name of the patched "Hack" in Nerd Fonts, before the license of Hack was changed to permit derivative fonts to contain the word "Hack" itself. See https://github.com/source-foundry/Hack/pull/321

So, there is no "Knack" in Nerd Fonts anymore, just install the Hack Nerd Font.

[2018-09-09 03:26] drn commented on #214
Awesome, thanks @athityakumar. Appreciate the link to exa as well! Looks like an awesome project

[2018-09-09 03:26] #214 closed

[2018-09-11 19:26] avdv commented on #182
This should be fixed, re-open if there's still a problem.

[2018-09-11 19:26] #182 closed

[2018-09-15 15:44] Baneeishaque commented on #91
Issue resolved...

[2018-09-15 15:44] #91 closed

[2018-09-20 09:02] kriscard opened #215 "I cannot use 'ls' in my terminal when my ruby version is higher than the 2.4.3"
### Description

Since this morning I cannot use the `ls`feature to check all the available directories and file inside a project. I always receive the error message below:
rbenv: colorls: command not found

The `colorls' command exists in these Ruby versions:
  2.4.3

<img width="453" alt="capture d ecran 2018-09-20 11 04 08" src="https://user-images.githubusercontent.com/3465831/45807963-ee27d58

[2018-09-22 15:40] avdv commented on #215
Hi.

I am no export for rbenv, but there's probably a way to force the Ruby version for a single command, regardless of the setting of the current project.

Try this:
[code]

[2018-09-25 16:28] avdv commented on #215
@kriscard glad it worked out! :smile: I'm closing the issue...

[2018-09-25 16:28] #215 closed

[2018-09-25 17:44] rjhilgefort opened #216 "Fira Code Support?"
### Description

It doesn't seem that [Fira Code](https://github.com/tonsky/FiraCode) is supported, or I just don't have something set-up correctly. I'm just seeing `?` with a box around it as if ligatures could not be found. Fira seems to be working elsewhere in my terminal. Sorry if I'm just missing something dumb!

![image](https://user-images.githubusercontent.com/2034823/46032240-4fcab400-c0b

[2018-09-25 23:50] evert-mouw opened #217 "Make executables bold"
It would be nice to show executable files (such as scripts) using **boldface**.
The classic `ls` has the `-F` option to add symbols to special files, and also gives special files other colors. Finding (broken) symlinks, device files, and executable files quickly makes life easier ;-)

---

- Relevant Issues : (none)
- Relevant PRs : (none)
- Type of issue :
  - [ ] Installation
  - [ ] Font-relate

[2018-09-26 20:44] avdv commented on #216
You need to use the patched Fira Font, from the Nerd Fonts collection. The patched font is called "Fura Code Nerd Font".

[2018-09-27 14:49] rjhilgefort commented on #216
Ah, thanks! I see that in the README now, sorry for the issue.

[2018-09-27 14:49] #216 closed

[2018-10-01 20:08] JCass45 commented on #192
Happy to take this on for Hacktoberfest

[2018-10-01 20:10] JCass45 commented on #192
@athityakumar Could you provide a screenshot of output with the `-r` option if your terminal still has that setup for consistency?

[2018-10-02 04:02] athityakumar commented on #192
@JCass45 - Nope, my setup has changed. Feel free to add a screenshot from your own setup 😃

[2018-10-03 10:16] mccarths commented on #189
I'd be happy to take this one on if that's ok?

[2018-10-03 11:16] dilekuzulmez commented on #50
I'll do this one

[2018-10-03 13:48] g-uru opened #220 "NilClass (NoMethodError) with MSYS2 on Win10"
### Description

Using this with MSYS2 on Windows 10 Pro causes "colorls -la" to drop the following error:

[code]

- Relevant Issues : (none)
- Relevant PRs : (none)
- Type of issue :
  - [ ] Installation
  - [ ] Font-related
  - [ ] Feature request
  - [x ] Bug in existing feature
  - [ ] Developer mode : Code quality / Tests / Documentation

[2018-10-05 08:14] avdv commented on #217
@HolyWalley sure, go ahead.

[2018-10-05 21:15] #220 closed

[2018-10-06 11:00] chwba opened #223 "No colors on MSYS2"
### Description

When using this with MSYS2 on Windows 10 Pro it now works (thanks to fixing https://github.com/athityakumar/colorls/issues/220) but unfortunately still without colors. I already tried to apply a custom color set as per https://github.com/athityakumar/colorls/issues/165 but it didn't help.
![screenshot_6](https://user-images.githubusercontent.com/22568014/46570649-a1502a00-c967-11e

[2018-10-07 03:36] JustinHallquist commented on #206
Hey I have no problem tackling this.

Are we looking for this feature to be as specific as adding just the color to folders prefixed with `*_vnev` or something more general?

Assuming general, for requirements, are we looking for an additional flag to pass that adds colors based on grouped folder suffixes that occur say more than twice?
[code]

Or would it be a default feature?

Additionally, sinc

[2018-10-07 16:03] securisec commented on #206
@JustinHallquist i do like your proposal. the more general approach seems to be ideal, although if user can override general using the config file to specify a suffix, then that would be good also. either way works. but, the issue with the count based suffix coloring is that what if in my scenario, i have one one `something_venv` folder? then it wouldnt color it. this is where having control the s

[2018-10-08 22:32] JustinHallquist commented on #206
I see, thanks for the clarification. I was under the impression we want to color directories with duplicate  suffixes in general, not based on existence of suffixes themselves, so that was a misunderstanding on my part.

I think, with the clarification, we would want to avoid a default and leave it up to the user to configure. Feel free to elaborate on use cases for a default though.

The approach

[2018-10-10 15:58] securisec commented on #206
Yes, I agree with leaving the configuration upto the user. I agree with your idea completely.

[2018-10-13 18:53] jmks commented on #190
I think I found a simple fix.

[2018-10-15 08:31] #190 closed

[2018-10-17 11:48] avdv commented on #223
Hi @g-uru,

this is a hard one, since I am not using Windows in any way. So, just some questions:

* What's the value of your `TERM` variable?
* Does running `ruby -r rainbow -e 'puts Rainbow("This is red").red'` result in colored text?

[2018-10-17 18:12] g-uru commented on #223
![screenshot_1](https://user-images.githubusercontent.com/22568014/47107187-f255fd00-d248-11e8-873d-0a3529e68d39.png)

[2018-10-18 06:48] yuanzhe-liu opened #225 "The sequence of display iterms"
### Description

Hello,
Thank u for write this amazing awesome utility. But i found a little insufficient, the sequence of display items is not as same as the origin `ls` command do.Here i have two pictures:

![from ls](https://user-images.githubusercontent.com/44017689/47069022-7a73dc80-d220-11e8-949c-dea71a91c05c.png)
![from colorls](https://user-images.githubusercontent.com/44017689/47069028-7f

[2018-10-18 07:42] avdv commented on #189
Hi @mccarths, sorry I missed your comment here. Sure, if you want to tackle this, go ahead! :+1:

[2018-10-18 07:42] avdv commented on #225
Duplicate of #189

[2018-10-18 07:42] #225 closed

[2018-10-18 07:50] avdv commented on #223
Probably some sort of bug in conemu? Which version of Ruby / ConEmu are you using? Try to upgrade to the latest stable releases.

What does `ruby -e 'puts STDOUT.tty?' -e 'puts STDERR.tty?'` yield?

[2018-10-18 23:51] chwba commented on #223
![screenshot_1](https://user-images.githubusercontent.com/22568014/47190406-7c818c80-d341-11e8-9649-19ee6575cd3e.png)

[2018-10-19 09:05] avdv commented on #223
Maybe you can try the official ruby version from msys2 repositories which is at 2.4.x currently? AFAICS, the recommended ruby version from rubyinstaller.org also is 2.4.X.

Nevertheless, this is clearly not a bug in colorls. Would you consider reporting a bug with conemu instead? I am closing this issue here.

However, you should be able to work around adding `export CLICOLOR_FORCE=1` to your `.zs

[2018-10-19 09:05] #223 closed

[2018-10-19 09:27] thmsaurel commented on #193
I don't know if you still have your issue. You can use `hack nerd font` inside MobaXterm if you authorize "variable-pitch fonts" inside Terminal Settings > Window > Appearance. It's only work on the current session and the result isn't so good but it's still work.

[2018-10-19 10:08] chwba commented on #223
genius, that works 🥇

[2018-10-19 10:42] anselal commented on #193
I still jave this issue. I will try it.

Στις Παρ, 19 Οκτ 2018, 12:27 ο χρήστης Thomas Aurel <
notifications@github.com> έγραψε:

[2018-10-19 11:04] avdv commented on #193
Just make sure to install the "Windows" variants of the nerd font you want to use.

The original powerline font probably does not work since it does not include all the extra font awesome icons and so on, AFAIK.

Maybe MobaXterm has the same limitation as mintty where you can only select a very limited set of fonts via the font chooser dialog: https://github.com/mintty/mintty/issues/638

[2018-10-19 12:16] anselal commented on #193
I already did all this without any success. Does it work 4 U ?

[2018-10-19 13:52] avdv commented on #193
I don't have a Windows machine.

Did you try another SSH client, to rule out mobaXterm as the problem?

Maybe it's just a wrong encoding used, did you configure anything regarding the character encoding for your session in mobaXterm? Still, is there a setting somewhere and is it set to UTF-8? And at your remote end too? (Run `locale` remotely)

[2018-10-19 18:13] thmsaurel commented on #193
I've install the windows variant but the issue remain. I also use a mintty (on windows) and i have no issue with it.

The issue is the following one: mobaxterm doesn't recognize `Hack Nerd Font` as a font with a fixed size (that stupid but... anyway). I've try to install the windows version, the mono windows version, but nothing work except the little tweak i say earlier. It's not ideal but if you

[2018-10-19 22:20] avdv commented on #223
Hey @chwba, FYI I have just added a new option for controlling output colorization onto the master branch. (see #227) You could remove the environment variable hack and simply add the option to an alias instead:

`alias ls='colorls --color'`

[2018-10-20 09:01] avdv commented on #171
Hi @wviechtb,

I have prepared a PR which solves this issue, I think. See #228.

Once merged, you may use the `--format` option to enforce a specific layout and using the `--color` option (#227 merged yesterday) you may enforce colorization.

Together, these options enable you to use a pager of your choosing with colorls:

[code]

[2018-10-20 17:36] anselal commented on #193
I tried all the above but still no result

Στις Παρ, 19 Οκτ 2018, 21:13 ο χρήστης Thomas Aurel <
notifications@github.com> έγραψε:

[2018-10-23 19:07] JustinHallquist commented on #206
sorry for the delay, PR is up.

[2018-10-24 05:10] securisec commented on #206
Hey @JustinHallquist , what was your final design? have a `dirs.yaml` file, or put the postfixes in another config section?

[2018-10-24 14:22] avdv commented on #165
Just create that directory first if it does not exist. Then, run the command once in your shell.

HTH

On October 24, 2018 3:30:41 PM GMT+02:00, harmnot <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2018-10-24 14:48] harmnot commented on #165
by the way I got error on terminal no such file or directory: /tab_complete.sh
on my. file .zshrc ? but my colonels worked

[2018-10-24 15:36] harmnot commented on #165
I tried to command ls but not work, I did alias ls='colorls -A'
but not working

[2018-10-25 03:58] JustinHallquist commented on #206
My understanding is that as long as you have:
`dir_suffixes` in a yaml in either of these dirs, it'll work as intended
[code]

so a user can add it to their config or directly on the colors yaml

[2018-10-25 10:43] wviechtb commented on #171
This is great! Looking forward to try it out.

[2018-10-28 09:02] fferri opened #232 "Make symlinks to directories use a folder icon, or have all symlinks have a symlink icon"
### Description

Currently symlinks show the file icon.
It would be nice if symlinks show a directory icon if the target is a directory.
Otherwise, it would be nice if symlinks show the symlink icon.

This is especially important with the short listing format, where a symlink to a directory and a regular file have indistinguishable style (e.g. yellow, with file icon).

- Type of issue :
  - [ ] In

[2018-10-29 16:52] fferri opened #233 "output is interleaved with blank lines when passing multiple file arguments (e.g.: *.txt)"
### Description

When passing multiple file arguments, e.g.:

    colorls a.txt b.txt c.txt

or

    colorls *.txt

the output is interleaved with blank lines:

[code]

For comparison, this is the normal output:

[code]

and this is the long (`-l`) output:

[code]

- Relevant Issues : (none)
- Relevant PRs : (none)
- Type of issue :
  - [ ] Installation
  - [ ] Font-related
  - [ ] Feature request

[2018-10-29 17:51] prankousky opened #234 "cannot install dependencies"
Hi,

I am running `colorls` on macOS Mojave Version 10.14. `ruby --version` is `ruby 2.3.7p456 (2018-03-28 revision 63024) [universal.x86_64-darwin18]`, `rbenv --version` is `rbenv 1.1.1`.

Whenever I run colorls, I get this output

[code]

I tried running those commands as stated, also tried `gem pristine --all` (was recommended to me when asking in ruby subreddit on reddit), also tried running a

[2018-10-30 09:02] avdv commented on #234
Hi.

According to https://apple.stackexchange.com/a/167377

Did you install the gems system wide? You should install them into the rvm managed gems directory.

Try to remove all those gems listed and re-install colorls. Make sure to use the same Ruby version when installing and running.

[2018-11-05 00:32] alichtman opened #235 "Allow sorting of files/dirs based ignoring casing"
### Description

<img width="86" alt="image" src="https://user-images.githubusercontent.com/20600565/47972211-ac2dd580-e05f-11e8-96a6-076488071b41.png">

You can see in this screenshot that directories that start with a lowercase letter are sorted alphabetically, accounting for casing. There should be a flag that lets you ignore casing.

This list should be something like this:

[code]

- Relevant

[2018-11-05 00:43] eliezercabrera opened #236 "Add option to force colored output when colorls is not outputting directly to the console"
### Description

I want to use colorls to display the file tree of a particular directory, and update when files are created, removed, or renamed.

A nice utility to do this is `watch`, so I tried a command like:

`watch -n 0.5 -t colorls --tree --light`

Which does work, it basically calls the colorls command every 0.5 seconds. But the output is not colored, all of it is in default color (black f

[2018-11-05 08:21] avdv commented on #236
This is already implemented in #227, but it is not yet released. So, you would have to checkout the master branch and build colorls from source until the new version is ready.

[2018-11-05 08:21] #236 closed

[2018-11-05 08:33] avdv commented on #235
Actually, the list is sorted according to the rules of your current locale. I am using `en_US.utf8` and it is sorted like this:

[code]
Sorting case-insensitively was done originally, but the problem with that approach is that sorting is not deterministic, ie. you don't know whether `abc` will come first or `ABC` if you just ignore the case when sorting.

[2018-11-05 08:37] alichtman commented on #235
I'm okay with that. I just wanted them to be sorted together. Either order is fine.

Is this a setting that I should change in `colorls` or is this something I should change in my `zsh` config files?

[2018-11-05 08:52] avdv commented on #235
I don't know about the Macs specifically, but the easiest thing probably is to configure this in your `~/.bashrc` or `~/.zshrc`:
[code]
You can run `locale` to see what your current settings are. The relevant setting is LC_COLLATE.

[2018-11-05 08:56] alichtman commented on #235
<img width="732" alt="image" src="https://user-images.githubusercontent.com/20600565/47987755-f9349a80-e0a5-11e8-92f8-18aadb97a4d5.png">

This is what is already set.

https://stackoverflow.com/a/24995139/8740440

This stack overflow post says that "UTF" should be capitalized and there should be a hyphen between the "UTF" and the "8". Is `utf8` a different option?

[2018-11-05 10:59] avdv commented on #235
Seems this is broken on Macs. https://apple.stackexchange.com/questions/34054/case-insensitive-ls-sorting-in-mac-osx#81791

[2018-11-08 11:43] prankousky commented on #234
Thank you.

I installed all gems systemwide, or at least I think so... I need to be root to install, otherwise I get `ERROR:  While executing gem ... (Gem::FilePermissionError)
  You don't have write permissions for the /Library/Ruby/Gems/2.3.0 directory.`

I tried everything mentioned in that link, but no success. How can I make sure to use the same Ruby version when installing and running? If I

[2018-11-09 11:29] prankousky commented on #234
I solved it. Not sure what actually did the trick, but this is what I did:

1. remove rbenv (`brew uninstall rbenv`)
2. try installing colorls for user only (`gem install --user-install colorls`): got an error about insufficient rights. apparently, colorls was installed in my user directory **with root permissions**, so it could not be updated
3. deleted entire colorls directory from my local gem

[2018-11-09 11:29] #234 closed

[2018-11-09 12:08] avdv commented on #234
Glad you got it working!

[2018-11-14 01:09] okay opened #238 "Installation failure on macOS Mojave"
### Description
I am trying to install colorls on my MacBook Pro running Mojave, as well as the Xubuntu 18.04.1 VM I've set up.

When I run `sudo gem install colorls` I get this output:
[code]

How can I fix this?

- Relevant Issues : #176
- Relevant PRs : (none)
- Type of issue :
  - [x] Installation
  - [ ] Font-related
  - [ ] Feature request
  - [ ] Bug in existing feature
  - [ ] Developer mo

[2018-11-15 10:45] avdv commented on #238
You are probably missing the XCode command line tools.

See here: http://www.ammauro.com/posts/mac-os-x-development-environment-with-ruby/#installing-xcode-command-line-tools

[2018-11-15 10:47] avdv commented on #238
Also, just have a look into the `/Library/Ruby/Gems/2.3.0/extensions/universal-darwin-18/2.3.0/clocale-0.0.4/mkmf.log` file.

[2018-11-15 13:04] okay commented on #238
I installed the command line tools, @avdv. Checked there, will send it here when I'm on that machine again. Also, what about my Xubuntu vm? Why wouldn't it install there?

[2018-11-15 13:57] avdv commented on #238
Probably also because of some missing development tools. Make sure you have a C ompiler (e.g. gcc) and make installed.

I have no idea.

[2018-11-15 14:11] okay commented on #238
I have gcc and all that installed. :thinking:

I'll reinstall via package to just make sure 100% that everything  is installed.

[2018-11-16 12:04] alichtman commented on #235
Yep. I don't think this is fixable on my end.

[2018-11-16 14:51] avdv commented on #235
You could try `LC_COLLATE=cs_CZ.ISO8859-2 colorls`.

[2018-11-16 15:02] okay commented on #238
@avdv I get this in the log file.
[code]

[2018-11-16 15:34] avdv commented on #238
It seems your ruby installation is somehow broken.

You might try any suggestion here: https://stackoverflow.com/questions/26434642/yosemite-upgrade-broke-ruby-h?noredirect=1&lq=1

But, since Ruby 2.3.x is rather old, I would preferably install a new version via homebrew.

[2018-11-16 15:41] okay commented on #238
`brew uninstall ruby`
`brew install ruby`
then, downloading dev tools from the /more page and installing.
then, running `/Library/Developer/CommandLineTools/Packages/macOS_SDK_headers_for_macOS_10.14.pkg` and installing it

worked. thanks!!

[2018-11-16 15:41] #238 closed

[2018-12-05 08:11] jhartlep opened #242 "Encoding::CompatibilityError"
### Description

Thanks for opening this issue. Add a brief description of what this issue is, and how to recreate it. Do tag the relevant issue(s) and PR(s) below. If required, add some screenshot(s) to showcase the issue.

- Relevant Issues : (none)
- Relevant PRs : (none)
- Type of issue :
  - [ ] Installation
  - [x] Font-related
  - [ ] Feature request
  - [x] Bug in existing feature
  - [ ]

[2018-12-07 08:59] avdv commented on #242
Hi.

I suppose you're not using UTF-8 locale settings. What's the output of `locale`?

[2018-12-09 22:22] vegerot opened #246 "yaml file color definitions not applying"
### Description
`colorls` does not use the custom color configuration as specified in `lib/yaml`.  The only colors that are given are "Main Colors" for recognized/unrecognized files, and directories.  No other colors are shown. For example, executables are not red, no age colors, no file size colors, no git colors, etc.

Speculation: This may have something to do with the priority of the yaml.  It

[2018-12-10 07:01] SauravPrakash98 commented on #217
Can I attempt this?  @athityakumar

[2018-12-16 13:12] harmnot commented on #140
is there any configuration to make different colours for each type files, EX: .js, .css, .html, and else?

[2019-01-11 07:44] avdv commented on #168
Fixed by #253

[2019-01-11 07:44] #168 closed

[2019-01-14 04:35] anoopd opened #254 "--tree=1 needless argument ubuntu 18.04"
In Ubuntu 18.04 the `--tree=` option is giving the error

    Traceback (most recent call last):
	5: from /usr/local/bin/colorls:23:in `<main>'
	4: from /usr/local/bin/colorls:23:in `load'
	3: from /var/lib/gems/2.5.0/gems/colorls-1.1.1/exe/colorls:5:in `<top (required)>'
	2: from /var/lib/gems/2.5.0/gems/colorls-1.1.1/exe/colorls:5:in `new'
	1: from /var/lib/gems/2.5.0/gems/colorls-1.1.1/lib/colo

[2019-01-14 09:15] avdv commented on #254
The depth argument of the `--tree` option was only introduced recently and has not been released yet. You have to install colors from source of you want to use it

[2019-01-14 09:51] anoopd commented on #254
ok thank you

[2019-01-21 11:48] HappySven opened #256 "colorls, font, too small"
### Description
#### **It's my screenshot**
![tosmallicon](https://user-images.githubusercontent.com/24653356/51472722-4545d000-1db5-11e9-8562-64906402722d.png)

-  [1]  Font-related

[2019-01-23 04:15] HappySven commented on #256
Thanks very much, i try to use Hack Nerd Font Bold and it works!

[2019-01-24 10:11] #256 closed

[2019-01-24 14:58] insign commented on #184
`sudo apt install ruby-dev gcc make` worked for me.

[2019-02-05 20:14] mstill3 commented on #246
I also have this issue.  All my recognized files are lime

[2019-02-05 22:10] avdv commented on #246
That is not a bug, it is how the colorization works currently.

The file *name* is _always_ colored according to whether it is a recognized file or not (colorization for special files like sockets and devices is yet to be released).

Only in the long listing format (`--long`) are parts of the information colored differently and this the only place where the other colors are used.

The modification

[2019-02-05 22:10] #246 closed

[2019-02-05 22:14] vegerot commented on #246
So is there no way to have certain filetypes colored differently?  In Bash, I have executables and different types of files colored differently depending on their extension.  How do I color the file names by either/or extension or access permissions?

[2019-02-05 22:47] avdv commented on #246
No, currently not.

That is actually done by GNU ls according to your LS_COLORS env variable. We might add support for this some time later.

[2019-02-09 22:30] vegerot commented on #246
Unfortunately there's no way to even color symlinks differently :(

/close

[2019-02-19 13:50] danielmain commented on #242
Im having this problem and the output of calling locale is:

`LANG="de_DE.UTF-8"
LC_COLLATE="C"
LC_CTYPE="C"
LC_MESSAGES="C"
LC_MONETARY="C"
LC_NUMERIC="C"
LC_TIME="C"
LC_ALL=`

[2019-02-21 02:29] AlexeyMavrin opened #259 "Does not set an error code ($?)"
### Description

Unlike ls, does not set an error code on error [example]:

➜ colorls lalal && echo This text should not show

   Specified path 'lalal' doesn't exist.
This text should not show

[compared to ls]
➜ /bin/ls lalal && echo This text should not show
ls: lalal: No such file or directory

- Relevant Issues : (none)
- Relevant PRs : (none)
- Type of issue :
  - [ ] Installation
  - [ ] Fo

[2019-02-21 08:44] avdv commented on #259
Yes, that's true. Kind of a known bug.

[2019-02-21 09:01] avdv commented on #242
Try `export LC_CTYPE=e_DE.UTF-8`.

[2019-02-21 09:06] danielmain commented on #242
No changes :(

<img width="1086" alt="screenshot 2019-02-21 at 10 05 02" src="https://user-images.githubusercontent.com/4303099/53156738-522a2f00-35c0-11e9-8150-1cd994301a6e.png">

[2019-02-21 11:27] avdv commented on #242
There was a copy'n'paste error. I edited the command above.

[2019-02-21 12:18] danielmain commented on #242
@avdv thank you!!

I was so stupid I could have seen it. Thank you again!

[2019-02-23 15:34] avdv commented on #259
Um, why did you close it? @AlexeyMavrin

[2019-02-24 12:10] adrianmihalko opened #260 "Colorls slow"
It is normal that `colorls` is much slower than `ls`?

<img width="1079" alt="screenshot 2019-02-24 at 13 10 01" src="https://user-images.githubusercontent.com/733361/53298996-80fd0b00-3835-11e9-8b99-4ba85a4f7ecf.png">

There is a noticable lag compared to `ls` which is in everyday use is pretty frustrating.

[2019-02-24 12:50] avdv commented on #260
This is addressed in #237.

[2019-02-25 09:30] avdv commented on #260
You might try out the branch https://github.com/avdv/colorls/tree/refactor-rendering  and see whether it makes any difference to you.

BTW, which version of colorls and ruby are you using?

Note, that Ruby will always have a startup overhead. What yields `time ruby -e 'puts "hi"' on your machine?

[2019-02-25 09:31] avdv commented on #242
@danielmain BTW, if you want sorting to work correctly (for german umlauts) you also want to set and export the `LC_COLLATE` variable.

[2019-02-27 01:30] dependabot[bot] opened #262 "Dependabot can't evaluate your Ruby dependency files"
Dependabot can't evaluate your Ruby dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-02-27 01:33] greysteil commented on #262
Sorry, this looks like it's due to some of the sanitization Dependabot does on gemspecs. Let me look into it from our side.

[2019-02-27 01:45] greysteil commented on #262
Fixed in https://github.com/dependabot/dependabot-core/commit/bc9e1cc3c48c3774a1c144d836fae602503b8c0e, which I'll deploy now.

[2019-02-27 02:01] #262 closed

[2019-02-27 09:36] legendaryaman opened #263 "Can't install colorls"
**Got this error while installing colorls. I am using macOS Mojave**

[code]

### Description

Thanks for opening this issue. Add a brief description of what this issue is, and how to recreate it. Do tag the relevant issue(s) and PR(s) below. If required, add some screenshot(s) to showcase the issue.

- Relevant Issues : (none)
- Relevant PRs : (none)
- Type of issue :
  - [x] Installation
  - [ ]

[2019-02-27 10:04] Yufeikang commented on #263
me too

[2019-02-27 10:38] Yufeikang commented on #263
https://openradar.appspot.com/radar?id=5059391220875264

[2019-02-27 10:44] legendaryaman commented on #263
How to resolve this?

[2019-02-27 13:49] avdv commented on #263
[code]
Please check this file first. Before guessing.

[2019-02-27 13:51] avdv commented on #263
Also, we had a similiar issue: https://github.com/athityakumar/colorls/issues/238

[2019-02-27 15:31] legendaryaman commented on #263
**This worked for me.**
[](https://github.com/athityakumar/colorls/issues/238#issuecomment-439433117)
Thanks 👍

[2019-02-27 18:49] avdv commented on #263
Good! 😀

[2019-02-27 18:49] #263 closed

[2019-02-28 02:46] dylanjm opened #264 "zsh: command not found: colorls"
### Description

After running `gem install colorls` I get this message:

[code]

Which looks fine and dandy but when I try to run something like `colorls -lA` I get

[code]

`which ruby`: /usr/local/opt/ruby/bin/ruby
`ruby --version`: ruby 2.6.1p33 (2019-01-30 revision 66950) [x86_64-darwin18]

- Relevant Issues : (none)
- Relevant PRs : (none)
- Type of issue :
  - [ X] Installation
  - [ ] Font

[2019-02-28 03:29] danaguilar commented on #264
I think you need to add the following to your `~/.zshrc` file.

`source $(dirname $(gem which colorls))/tab_complete.sh`

Then reload zsh either by restarting it or using `source ~/.zshrc`

[2019-02-28 03:35] dylanjm commented on #264
I have done that already and it's still not working

[2019-02-28 07:50] avdv commented on #264
That is only loading the completions support.

In order to run commands from installed Ruby gems, you need to add the bin path of your gem folder to the PATH.

For Zsh:
[code]

[2019-02-28 18:31] adrianmihalko commented on #260
Hmmm.

[code]

[2019-02-28 21:05] avdv commented on #260
Does this change when you run it multiple times in a row? For me, the total time of this command is around 0.09 s on average.

That's weird version number. What kind of system is this? Could upgrade to Ruby 2.5 or 2.6?

[2019-03-01 14:20] AlexeyMavrin commented on #259
Sorry, re-oppening.

[2019-03-02 02:07] ivy00johns commented on #264
I'm experiencing the same issue currently.

[2019-03-02 09:10] avdv commented on #264
@ivy00johns try this:
[code]
Does that work?

As I said, you need to ensure that colorls is found in the PATH, wherever you installed it. (globally? in your user dir?)

Note that you need to re-install colorls when you upgraded Ruby.

[2019-03-04 11:20] aimuch commented on #264
I install Ruby by
[code]

<img width="650" alt="colorls-error" src="https://user-images.githubusercontent.com/17581911/53730296-7d5f2900-3eb2-11e9-971d-4e5de58fdb4d.png">

[2019-03-04 13:06] avdv commented on #264
@aimuch as I already said, you need to ensure your shell is able to find the colorls script. You should add the `Gem.bindir` directory to your `PATH` environment variable in order to run scripts from *any* installed gem.

Look at the output of `gem environment`. The directory mentioned in `EXECUTABLE DIRECTORY` should be also listed in `SHELL PATH`.

Add this to your shell init file:
[code]

[2019-03-04 13:12] aimuch commented on #264
Thank you, my fault

[2019-03-09 22:26] draptik opened #266 "icons for .net files (c#, f#)"
### Description

Icons for .NET languages C# and F#.

- Relevant Issues : (none)
- Relevant PRs : (none)
- Type of issue :
  - [ ] Installation
  - [ ] Font-related
  - [ x] Feature request
  - [ ] Bug in existing feature
  - [ ] Developer mode : Code quality / Tests / Documentation

- File extensions: cs, csx, fs, fsx
- csharp icon font code: f81a
- fsharp icon font code: e7a7

[2019-03-09 23:23] draptik opened #267 "replace xml icon"
### Description

The current icon for xml (\UE619) seems wrong.

- Relevant Issues : (none)
- Relevant PRs : (none)
- Type of issue :
  - [ ] Installation
  - [ ] Font-related
  - [x] Feature request
  - [ ] Bug in existing feature
  - [ ] Developer mode : Code quality / Tests / Documentation

I propose either:
- \uf72d
- \ufabf <- my favourite

![Screenshot from 2019-03-10 00-21-12-xml](https://u

[2019-03-22 10:51] iceman201 opened #272 "Error happened with colorls -r -sd"
### Description

![image](https://user-images.githubusercontent.com/5027957/54818059-433cb680-4cfd-11e9-8d9c-a65eb3b8f1a8.png)

- Relevant Issues : (none)
- Relevant PRs : (none)
- Type of issue :
  - [ ] Installation
  - [ ] Font-related
  - [ ] Feature request
  - [x] Bug in existing feature
  - [ ] Developer mode : Code quality / Tests / Documentation

[2019-03-22 21:57] avdv commented on #272
Please look at `colorls --help` which options are available.

There is a difference between long and short options; short options begin with a single dash, long options with double dashes. Short options can be combined together, `colorls -l -r` is the same as `colorls -lr`.

One may shorten options when the prefix used is unambiguous, e.g. `--he` is equivalent to `--help`.

Your option is indeed a

[2019-03-22 21:57] #272 closed

[2019-03-26 17:40] mzfr opened #273 "Icons do not appear in zsh"
### Description

I've recently install colorls on arch linux. For terminal I am using zsh, but I am not getting any icon, instead there are rectangle boxes that are present.

![image](https://user-images.githubusercontent.com/16623935/55020165-4e088b80-501c-11e9-8204-914d95cdc471.png)

Do I need to install some other package or something to get those icons.

[2019-03-26 19:51] avdv commented on #273
Hi, first zsh is not a terminal. It has nothing to do with displaying characters.

You need to install a special font which supports the glyphs used by colorls. For example one of the nerd fonts, see https://github.com/ryanoasis/nerd-fonts/blob/master/readme.md

And then you need to set up your terminal to use this font as outlined in the [installation instructions](https://github.com/athityakumar

[2019-03-28 00:13] billiams commented on #199
@avdv this feature doesn't seem to be incorporated with the current version of colorls. Did it get removed?

[2019-03-28 07:47] avdv commented on #199
@billiams no, there just hasn't been a release for a while...

If you feel (a bit) adventurous you can install a pre-release with `gem install --pre colorls` which has all the latest features.

[2019-03-28 16:12] ianizaguirre commented on #199
why doesn't someone push an official next release ?

[2019-03-28 18:08] billiams commented on #199
@avdv okay will do, thanks for the response.

[2019-04-01 19:50] ianizaguirre opened #274 "When to expect new official version release ?"
When will a new version be pushed?

[2019-04-05 16:33] Who23 commented on #264
For me, I fixed this issue by uncommenting a line I had commented out:
`eval "$(rbenv init -)"`

I don't know if you already have this but hope it helps.

[2019-04-09 17:35] avdv commented on #274
*today* is the day... finally. :man_dancing:

https://github.com/athityakumar/colorls/releases/tag/v1.2.0

[2019-04-09 17:36] #274 closed

[2019-04-10 06:09] avdv commented on #264
Of course, if you use rbenv, RVM, chruby or similar managers, you have to make sure to configure them correctly before colorls will work.

@dylanjm are you still having the issue?

[2019-04-12 08:05] hhlp opened #278 "script icons don't show"
### Description

For some strange case I can't see some Icons, it happen only with scripts icon :

1. bash config
2. zsh config
3. script files

- Type of issue :
  - [x] Installation
  - [x] Font-related
  - [ ] Feature request
  - [ ] Bug in existing feature
  - [ ] Developer mode : Code quality / Tests / Documentation

I follow all step, I'm in fedora 30 and my shell is ZSH and using oh-my-zsh

[2019-04-12 12:14] Yamp opened #279 "Support setuid, setgid and sticky bit"
### Description

- Relevant Issues : (none)
- Relevant PRs : (none)
- Type of issue :
  - [ ] Installation
  - [ ] Font-related
  - [x] Feature request
  - [ ] Bug in existing feature
  - [ ] Developer mode : Code quality / Tests / Documentation

[code]
[code]

There are no `s` file permission flag is colorls output, for example.

[2019-04-12 12:28] #279 closed

[2019-04-13 07:30] avdv commented on #278
Which terminal are you using? Have you installed and configured one of the need fonts for the terminal?

[2019-04-13 08:21] hhlp commented on #278
ahh I make I mistake I change other (DOCUMENT) not the correct one (MONOSPACE)

[2019-04-13 08:21] #278 closed

[2019-04-13 09:53] avdv commented on #279
Duplicate of #197

[2019-04-18 12:11] mickaelperrin opened #280 "Broken after brew upgrade"
Hi,

I did a `brew upgrade` on my mac and `colorls` is now broke :(

[code]

I tried the following without success:

[code]

Any hints to resolve this issue ?

Thanks,

[2019-04-18 12:18] mickaelperrin commented on #280
Resolve by reinstalling with `sudo`.

[2019-04-18 12:18] #280 closed

[2019-04-20 03:16] zhougy0717 commented on #193
I finally find the idea. The MobaXterm doesn't recognize True Type font. So you have to install an otf font. Then you can select the newly installed font from the list. The official release of SauceCodePro Nerd Font doesn't include a .otf file. Fortunately, there are bunch of online service we can use to convert from a .ttf file to .otf. Then just double click and install. That's all. Enjoy SauceC

[2019-05-03 12:54] avdv commented on #264
Closing, since there's nothing left to do and OP lost interest, apparently.

[2019-05-03 12:54] #264 closed

[2019-05-06 00:19] xsrvmy opened #282 "Support for"
Similar to #113, but can we get support for attributes like bright and faint in the terminal (especially bright ansi colors so we get all 16)? The functionality is already in rainbow so this shouldn't be hard to add.

[2019-05-07 00:11] simonrouse9461 commented on #217
Is anyone working on this feature?

[2019-05-07 15:25] HolyWalley commented on #217
I'm not.

[2019-05-11 00:08] Yamp opened #284 "Blank lines in -la mode"
### Description

Thanks for opening this issue. Add a brief description of what this issue is, and how to recreate it. Do tag the relevant issue(s) and PR(s) below. If required, add some screenshot(s) to showcase the issue.

- Relevant Issues : (none)
- Relevant PRs : (none)
- Type of issue :
  - [ ] Installation
  - [ ] Font-related
  - [ ] Feature request
  - [ x ] Bug in existing feature
  - [

[2019-05-11 15:42] avdv commented on #284
That's a known issue and has nothing to do with `-la`. Duplicate of #233

[2019-05-11 15:42] #284 closed

[2019-05-22 02:09] Aisuko commented on #264
Thanks for your reply, but the script did not work for me(Every time open a new session, it need to `source ~/.zshrc to reload colorls` ). So, I have been changed it to

[code]

[2019-05-23 12:26] Kuzey27 commented on #61
I had a problem like this.
But the main error was:
[code]
Solution for this problem is also [here](https://stackoverflow.com/questions/20559255/error-while-installing-json-gem-mkmf-rb-cant-find-header-files-for-ruby) in stackoverflow.
[code]

[2019-05-23 16:49] gamaralf opened #288 "No patched fonts of powerline nerd-font and/or font-awesome"
### Description

On the "Instalation" section of the README, it is written:
Install the patched fonts of powerline nerd-font and/or font-awesome. Have a look at the Nerd Font README for more installation instructions.

I have checked the linked page (https://github.com/ryanoasis/nerd-fonts/blob/master/readme.md) but found no downloads for "patched fonts of powerline nerd-font and/or font-awesome".

[2019-05-24 07:30] DannyBen commented on #288
Yes, I also want to add that this section of the README should probably be more specific and provide direct links as to what font needs to be installed **exactly**. The link to the nerd font README is confusing, as there are dozens of fonts and sets and installation instructions there.

[2019-05-24 11:13] avdv commented on #288
Simply install the one you like. Then, configure it for your terminal and you're set.

On May 24, 2019 9:30:33 AM GMT+02:00, Danny Ben Shitrit <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-05-28 19:30] valmormn commented on #137
I get this error after: `sudo gem install colorls`

[code]

[2019-05-28 19:34] valmormn opened #291 "Installation error"
### Description

Thanks for opening this issue. Add a brief description of what this issue is, and how to recreate it. Do tag the relevant issue(s) and PR(s) below. If required, add some screenshot(s) to showcase the issue.

- Relevant Issues : (none)
- Relevant PRs : (none)
- Type of issue :
  - [*] Installation

---

I get this error after: `sudo gem install colorls`

[code]

`ruby -v`

[code]

[2019-05-28 20:00] avdv commented on #291
You need to install the `make` tool.

[2019-06-04 20:46] alejandrogarciasalas opened #293 "current implementation does not show number of links"
### Description
I am doing some fiddling with hard links and it seems like colorls is not displaying the number of links on the 2nd row after the file's permissions

**BSD ls (ls --version =1.1.1)**
![Screen Shot 2019-06-04 at 1 36 37 PM](https://user-images.githubusercontent.com/4564870/58911951-ddda4e00-86cd-11e9-9ebd-39ce6c1dc7d4.png)

**colorls**
![Screen Shot 2019-06-04 at 1 37 05 PM](https:/

[2019-06-12 13:54] ueberBrot opened #294 "Alias not working"
### Description

I'm trying to set aliases in my `.zshrc` file for certain `colorls` commands.
That das not work for me.

The specified aliases:
[code]
Now when i use the specified alias what happens is the normal `ls` or `ll` command will be executed.

`colorls` with the above flags functions fine.

My setup:
OS: Manjaro Linux 18.0.4 Illyria Gnome Desktop
Terminal emulator: [Tilix](https://gnunn1

[2019-06-12 16:23] ueberBrot commented on #294
I switched to [lsd](https://github.com/Peltoche/lsd).

And as stated [here](https://github.com/romkatv/powerlevel10k/issues/86#issuecomment-501347702) I wont be using aliases.

[2019-06-12 16:23] #294 closed

[2019-06-12 19:44] avdv commented on #294
FTR, if your aliases in your Shell are not working, there is nothing colorls can do about it, there's probably some different config you sourced which overrode the aliases you created. Look at the output of `alias` the next time.

Also, I am using aliases because I do not want to train my fingers to another command which does not exist on other systems, having to keep in mind which system has colo

[2019-06-26 06:23] avdv commented on #293
Hi @alejandrogarciasalas,

thanks for the report. It shouldn't be too hard to code this up, a PR would be welcome! :wink:

[2019-06-28 08:29] Suavac opened #297 "Windows 10 with WSL - Permission denied @ rb_file_s_lstat"
### Description

Colorls does not display information on any files and/or directories if in between them there are some inaccessible files.  In the below example I'm trying to list files of my C drive using WSL on windows 10:

[code]

In contrast the regular ls -l outputs the following information:

[code]

BR
/Slawek

[2019-06-30 17:21] #293 closed

[2019-07-01 19:08] avdv commented on #288
That's impossible. The instructions in the nerd font README are complex due to the fact that there are diverse operating systems and thus installation methods. There is not **the one** font you need to install, it depends on your OS / application / visual preference. Of course, the safest bet would be to install *all* of them, but that would be overkill.

I am willing to improve the README, but I

[2019-07-01 21:37] #189 closed

[2019-07-04 19:50] #291 closed

[2019-07-04 19:52] avdv commented on #273
No activity

[2019-07-04 19:52] #273 closed

[2019-07-30 14:56] macintacos opened #308 "Support for headers?"
In the output of `-l`, it'd be nice if we could also include a "header row" that shows information about each column. Is this possible?

- Relevant Issues : (none)
- Relevant PRs : (none)
- Type of issue :
  - [ ] Installation
  - [ ] Font-related
  - [x] Feature request
  - [ ] Bug in existing feature
  - [ ] Developer mode : Code quality / Tests / Documentation

[2019-08-17 12:00] mrjayviper opened #310 "How to install colorls inside WSL?"
setup:
1. Ubuntu (app is displayed as Ubuntu (not Ubuntu 18.04 or Ubuntu 16.04. just Ubuntu)) inside Windows AppStore
2. tried with "ruby" and "ruby-full" apt packages
3. tried with and without "-- --use-system-libraries"
-----------------
This is error I'm getting. Any ideas on how to fix? Thanks

➜  sudo gem install colorls -- --use-system-libraries
Building native extensions with: '--use-system

[2019-08-17 16:07] avdv commented on #310
You have to install a C compiler and make, and the ruby dev package.

On August 17, 2019 2:00:03 PM GMT+02:00, mrjayviper <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-09-01 16:36] Privth opened #311 "support for indexes?"
Could you add to colorls -i flag which stands for indexes?

like here:

https://stackoverflow.com/questions/28991481/what-do-the-fields-in-ls-ali-output-mean/28991647

[2019-09-16 17:05] SealedJoy opened #312 "Hex Colors"
- Type of issue :
  - [x] Feature request
First of all, great project! Thanks for the time and effort you have shared!

I'd really like to be able to import hex color codes directly into the yaml file for reading by rainbow, this would allow theme compatibility with other tools such as pywal.

So far i've tried stringifying and dropping the leading # from the hex string etc but the dark_colors.yam

[2019-09-24 16:41] rishabhdeepsingh opened #313 "Unable to install on Mac"
### Description
[code]
- Relevant Issues : (none)
- Relevant PRs : (none)
- Type of issue :
  - [X] Installation
  - [ ] Font-related
  - [ ] Feature request
  - [ ] Bug in existing feature
  - [ ] Developer mode : Code quality / Tests / Documentation

[2019-09-24 20:42] avdv commented on #313
Hi.

You need to install Ruby including its development files first. You'll also need a C compiler and the `make` tool in order to build the native extensions used by colorls.

On OSX, it's probably easiest to use homebrew.

[2019-09-25 11:19] rishabhdeepsingh commented on #313
- [x] HomeBrew also installed
 - [x] Ruby installed
 - [x] C compiler is also installed `gcc-9` and `clang`
Still getting the same error.

[2019-09-25 11:41] avdv commented on #313
So, the error still is

Right?

Then you're using the wrong Ruby version. Probably because you use `sudo gem ...` which gives you the ruby version of the root user, not the one you installed with homebrew. Try `sudo $(which gem) ...`, but make sure you have set up your `PATH` correctly, so that `ruby --version` returns the correct number. You should preferably use Ruby 2.6.

[2019-09-25 11:45] avdv commented on #313
Side note: I don't understand why people always try to install things with sudo / into the system. Simply try running `gem install --user-install colorls` - this will install the binary into `~/.gem/ruby/2.?/bin`. You only need to setup your shell to add this to your `PATH` and you're done.

[2019-09-25 12:42] #313 closed

[2019-10-01 14:58] vasiby opened #316 "Can't list files with chinese characters on windows 10"
### Description

- Type of issue :
  - [ ] Installation
  - [ ] Font-related
  - [ ] Feature request
  - [x] Bug in existing feature
  - [ ] Developer mode : Code quality / Tests / Documentation

Shows an error and doesn't list files when any file in the directory has chinese characters in it's name, for example
杨帆.pdf

Error
Invalid argument @ rb_file_s_lstat - D:/??.pdf

Windows 10
 colorls 1.2.

[2019-10-01 19:42] synthead commented on #61
For Alpine Linux, install the `ncurses-dev` package :+1:

[2019-10-04 07:13] avdv commented on #316
Hi.

What happens when you run `RUBYOPT=-Ku colorls d:/` instead?

[2019-10-04 08:44] simonbcn commented on #192
You should be change `README.md` file too. :wink:
I have discovered today this application and I love it! :heart_eyes:

[2019-10-04 10:24] vasiby commented on #316
Invalid argument @ rb_file_s_lstat - D:/??.pdf

Also it if helps, I've made sure to check the UTF-8 checkbox in the Ruby windows installer.

[2019-10-04 12:24] avdv commented on #316
I found this bug report which might be related: https://bugs.ruby-lang.org/issues/14591

What is the output of `ruby -e 'puts Encoding.find("filesystem")'` on your machine? And what filesystem is on D:\? NTFS?

[2019-10-04 12:46] vasiby commented on #316
ruby -e 'puts Encoding.find("filesystem")'
Windows-1251

Filesystem is NTFS.

For example colorls in WSL (Ubuntu on windows) is able to correctly display the same file

[2019-10-04 13:16] avdv commented on #316
I guess that's bad. As you cannot properly encode chinese characters with CP 1251. That's probably why you only see those question marks in the output.

What happens if you change the codepage of the console to unicode: `chcp 65001`, and then run colorls again?

[2019-10-04 13:18] vasiby commented on #316
chcp 65001 doesn't help

[2019-10-04 13:34] avdv commented on #316
Did you try with `-Ku` as before?

[2019-10-04 13:37] avdv commented on #316
You could also try `set RUBY_DEBUG=codepage=65001`.

[2019-10-04 13:46] vasiby commented on #316
RUBY_DEBUG doesn't work
ruby -Ku colorls doesn't work

The same ??.pdf error

[2019-10-04 13:54] avdv commented on #316
FTR, here is how Ruby initializes the encoding it uses for filesystem operations on Windows: https://github.com/ruby/ruby/blob/c5eb24349a4535948514fe765c3ddb0628d81004/localeinit.c#L124-L130

To make it work, you need to use a codepage which properly encodes all of the characters you want to use with it.

Ie. you would want that `Encoding.find('filesystem')` returns UTF-8.

[2019-10-07 14:49] avdv commented on #316
After lots of back-and-forth (https://github.com/avdv/clocale/pull/45/commits), I discovered that `Dir.entries` accepts an `encoding` parameter since Ruby 2.1.

That way, I can force the Encoding to be UTF-8, which seems to work: https://ci.appveyor.com/project/avdv/clocale/build/job/48acvkeq5madf01d#L74

When displaying the strings on the console I probably have to encode them to the `default_ext

[2019-10-08 13:56] vasiby commented on #316
Here's the output

Windows-1251
IBM866

.
.: 4096
..: 4096
asciidoctor: 565
asciidoctor.bat: 41
bundle.cmd: 672
bundler.cmd: 674
colorls: 541
colorls.bat: 41
erb: 5086
erb.cmd: 5228
gem: 546
gem.cmd: 688
irb: 508
irb.cmd: 650
lsc.bat: 36
rake: 656
rake.cmd: 41
rdoc: 514
rdoc.cmd: 656
ri: 510
ri.cmd: 652
ridk.cmd: 694
ridk.ps1: 870
ruby.exe: 34816
rubyw.exe: 34816
ruby_builtin_dlls: 4096
setrbvars.

[2019-10-09 03:36] BaozCWJ opened #318 "Installation failure on macOS Catalina"
After updating MacOS Catalina and reinstall command line tools, I found a installation failure similar to #238 ,but the directory `/Library/Developer/CommandLineTools/Packages` doesn't exist.

[code]

### Description

Thanks for opening this issue. Add a brief description of what this issue is, and how to recreate it. Do tag the relevant issue(s) and PR(s) below. If required, add some screenshot(s

[2019-10-09 05:39] rolzing commented on #318
![image](https://user-images.githubusercontent.com/12732319/66454336-31b6c400-ea2d-11e9-91da-42dc48d83fd8.png)

I have an issue on mac os catalina too, not sure if it's related.

[2019-10-09 06:04] avdv commented on #318
???

[2019-10-09 06:05] avdv commented on #318
Not related. You do not (no longer?) have Ruby 2.3 installed. `ruby --version` ? You probably need to reinstall colorls.

[2019-10-09 06:11] avdv commented on #316
OK, there was an encoding problem. But the output here looks OK, without the need to encode it explicitly. Did it also show up this way on your console? Or was it somehow mangled?

[2019-10-09 07:18] BaozCWJ commented on #318
[code]

[2019-10-09 07:50] avdv commented on #318
@BaozCWJ maybe this helps:

(from https://stackoverflow.com/questions/57746792/homebrews-llvm-fatal-error-stdio-h-file-not-found-on-macos)

[2019-10-09 08:04] BaozCWJ commented on #318
But there's no such directory or pkg under /Library/Developer/CommandLineTools

[2019-10-09 09:40] avdv commented on #318
@BaozCWJ try this:
https://github.com/frida/frida/issues/338#issuecomment-328462701

[2019-10-09 10:16] avdv commented on #318
And see here: https://forums.developer.apple.com/thread/104296

[2019-10-09 11:07] vasiby commented on #316
Yes, the console output was ok

[2019-10-09 11:24] avdv commented on #316
OK, then it is probably better to simply print it as is, without re-encoding and substituting the undefined characters (in the target encoding) with the replacement character, ie. `?`.

I'll see that I can come up with a PR this evening... if nobody beats me to it.

[2019-10-09 19:01] sukheja-varun commented on #318
It got fixed with steps mentioned here
https://stackoverflow.com/a/58310557/6715606

[2019-10-10 05:34] BaozCWJ commented on #318
It worked! Thx

[2019-10-10 06:13] #318 closed

[2019-10-10 11:45] chanw9 commented on #264
Same problem.
fixed with
`PATH=$(ruby -e 'puts Gem.bindir'):$PATH`

[2019-10-10 21:09] avdv commented on #316
I have created a PR, but I am still missing test coverage. If you want, check out the branch and see if it works for you.

[2019-10-10 21:17] vasiby commented on #316
The fix works, thank you

![image](https://user-images.githubusercontent.com/53339460/66607078-204ff200-ebbc-11e9-81d7-350af9b76a7c.png)

[2019-10-16 01:14] tr1s opened #320 "Fonts not loading..."
### Description

Honestly I have no idea how to do this. I can't find clear instructions anywhere :(

I don't understand how to `./install.sh`, it just says no such directory.

Colorls fonts say to download powerline patched but it's not even in the Nerd-fond repo

I've tried installing fonts with brew cask, and I see it work, but then I add "FiraCode-Light" to my hyper terminal config for fonts,

[2019-10-16 14:48] ChemaBautista opened #321 "Error after uninstalling"
### Description

Thanks for opening this issue. Add a brief description of what this issue is, and how to recreate it. Do tag the relevant issue(s) and PR(s) below. If required, add some screenshot(s) to showcase the issue.

- Relevant Issues : (none)
- Relevant PRs : (none)
- Type of issue :
  - [ ] Installation
  - [ ] Font-related
  - [ ] Feature request
  - [x] Bug in existing feature
  - [ ]

[2019-10-16 15:04] ChemaBautista commented on #321
Forget to delete the associated aliases. Sorry.

[2019-10-16 15:04] #321 closed

[2019-10-17 21:27] Vadorequest commented on #264
This happened to me after upgrading MacOS to Catalina. Didn't try any fix so far, don't like to mess up with gems/ruby.

[2019-10-22 09:15] avdv commented on #320
FiraCode-Light is wrong, as this is the original font but you need to use a patched font. The corresponding patched font from nerdfonts is called FuraCode Nerd-Light.

[2019-10-24 18:44] bressan3 opened #322 "[macOS 10.15 Catalina] - Can't find ruby file library or shared library colorls"
### Description

- Relevant Issues : (none)
- Relevant PRs : (none)
- Type of issue :
  - [ ] Installation
  - [ ] Font-related
  - [ ] Feature request
  - [x] Bug in existing feature
  - [ ] Developer mode : Code quality / Tests / Documentation

### Problem

***Ruby version: 2.6.5p114***
***gem version: 3.0.6***
***colorls version: 1.2.0***

Ever since upgrading to macOS v10.15 (Catalina), I've b

[2019-10-24 21:56] avdv commented on #322
You seem to be using RVM.

It seems RVM is not yet initialized when zsh is executing the `source` command from your init file, the `gem` command being the one from the system where colors simply is not installed.

Later, when you run the command manually, the paths are looking alright.

[2019-10-24 22:01] avdv commented on #322
In other words: ensure that RVM is properly initialized before trying to source the tab completion code.

The reason it worked before you upgraded, is probably that you had installed colorls also for the system Ruby version at the farm same time.

[2019-10-24 22:44] bressan3 commented on #322
That was it! Thank you so much!

I just had to change part of my ***.zshrc*** to look like the following and that solved the issue:

[code]

[2019-10-24 22:44] #322 closed

[2019-10-25 14:43] tr1s commented on #320
@avdv How come there's no clear instructions to download a patched font? I clicked the download and it takes me [here](https://github.com/ryanoasis/nerd-fonts/tree/master/patched-fonts/FiraCode). I've tried downloading manually and activating the fonts, and threw brew/cask. Each just give me the regular FireCode font...

I can't be the only one incredible confused by all this :/

[2019-10-26 07:01] avdv commented on #320
I guess you need to pay more attention to the details.

It clearly says in the nerdfonts README, that you have to clone the repo first, in order to call [`install.sh`](https://github.com/ryanoasis/nerd-fonts/blob/master/install.sh), which is part of their repo.

You installed the wrong font with that brew command. You need to install one of the fonts with *nerd* in their name, e.g. `brew cask inst

[2019-10-26 17:39] tr1s commented on #320
So I'm supposed to guess the cask command for the font I want lol?

I see the problem here though, I should have went to their website. The website has all the proper nerd font downloads, the github repo just links to all the originals.

Anyway yeah, this is not a colorls issue so I'll just close and move on.

[2019-10-26 17:39] #320 closed

[2019-11-19 10:12] kakulukia commented on #260
`0,05s user 0,02s system 93% cpu 0,072 total`

`0,10s user 0,03s system 95% cpu 0,141 total`

`0,00s user 0,00s system 62% cpu 0,004 total`

Updating from the default OSX ruby version 2.3 to 2.6.5 results into

`colorls --gs --sd -l  0,10s user 0,03s system 95% cpu 0,135 total`

Not that much better than before, but it feels a lil snappier.
Still there might be room for optimisation?

[2019-11-19 11:17] avdv commented on #260
Of course, it is a bit unfair to compare using the `--gs` option, as this needs to call out to git which adds to the overall time spend.

Probably not. At least not from colorls; you would have to wait for Ruby optimizations in a new release.

Out of this reason, I started my own "color ls" which is already mostly compatible with colorls but faster since it is compiled to native code. I am using i

[2019-11-19 11:23] kakulukia commented on #260
Is that already usable by someone else? Can i try it out?

[2019-11-19 11:58] avdv commented on #260
Have a look here: https://github.com/avdv/scalals

Currently, building it is quite involved since it depends on a patched scala-native lib. I am currently looking into providing a binary automatically, but that still needs some time.

[2019-11-19 14:09] kakulukia commented on #260
That is by far the most complicated build process i have ever seen! And i was not able to finish compilation. But while compiling i found exa (https://the.exa.website/) which might make you drop your own version of colorls. :]

[2019-11-19 14:10] kakulukia commented on #260
i miss the "mark latest modifications" feature tho

[2019-11-19 14:55] avdv commented on #260
Hardly so :wink:, since it has no icons. And I want to have a drop-in replacement for ls, so that when I log in to a remote system, I can just use the same options to `ls` I am used to, but don't get the icons / colors.

[2019-11-19 14:58] kakulukia commented on #260
It has icons, but i agree, its not a drop in replacement with some weird options.

But its fast! 20ms

![Bildschirmfoto 2019-11-19 um 15 57 21](https://user-images.githubusercontent.com/96352/69157490-4b93fe00-0ae5-11ea-872c-26141a7ca86e.png)

[2019-11-19 15:01] kakulukia commented on #260
testing lsd now, thx :D

[2019-12-02 02:58] maxwellainatchi opened #325 "Case insensitive directory matching"
### Description
It would be nice if (especially on case-insensitive file systems like APFS) directory names were checked case-insensitively. This already seems to be the default behavior for file extensions, so it would just be making directories match the existing functionality.

- Type of issue :
  - [ ] Installation
  - [ ] Font-related
  - [x] Feature request
  - [ ] Bug in existing feature